{% liquid
  assign menu_handle = 'main-menu'
%}

<section id="breadcrumb" class="section-wrap">
  <div class="section">
    <ol aria-label="Breadcrumb" class="flex align-left small-text">
      <li><a href="/" title="Home">Home</a></li>
      {% if template.name == 'product' %}
        {% assign collection_list = '' %}
        {% for collection in product.collections %}
          {% capture collection_list %}{{ collection_list }}|{{ collection.handle }}{% endcapture %}
        {% endfor %}
        {% assign collection_list = collection_list | remove_first: '|' | split: '|' %}

        {% assign trail_found = false %}
        {% for parent in linklists[menu_handle].links %}
          {% assign parent_url_handle = parent.url | split: '/collections/' | last %}
          {% if collection_list contains parent_url_handle %}
            <li>
              <a href="{{ parent.url }}">{{ parent.title }}</a>
            </li>
            {% assign trail_found = true %}
            {% break %}
          {% endif %}

          {% for child in parent.links %}
            {% assign child_url_handle = child.url | split: '/collections/' | last %}
            {% if collection_list contains child_url_handle and trail_found == false %}
              <li>
                <a href="{{ parent.url }}">{{ parent.title }}</a>
              </li>
              <li>
                <a href="{{ child.url }}">{{ child.title }}</a>
              </li>
              {% assign trail_found = true %}
              {% break %}
            {% endif %}

            {% for grandchild in child.links %}
              {% assign grandchild_url_handle = grandchild.url | split: '/collections/' | last %}
              {% if collection_list contains grandchild_url_handle and trail_found == false %}
                <li>
                  <a href="{{ parent.url }}">{{ parent.title }}</a>
                </li>
                <li>
                  <a href="{{ child.url }}">{{ child.title }}</a>
                </li>
                <li>
                  <a href="{{ grandchild.url }}">{{ grandchild.title }}</a>
                </li>
                {% assign trail_found = true %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if trail_found %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
        <li aria-current="page">{{ product.title }}</li>

      {% elsif template.name == 'collection' %}
        {% assign trail_found = false %}

        {% for parent in linklists[menu_handle].links %}
          {% assign parent_url_handle = parent.url | split: '/collections/' | last %}

          {% if parent_url_handle == collection.handle %}
            <li aria-current="page">{{ parent.title }}</li>
            {% assign trail_found = true %}
            {% break %}
          {% endif %}

          {% for child in parent.links %}
            {% assign child_url_handle = child.url | split: '/collections/' | last %}

            {% if child_url_handle == collection.handle and trail_found == false %}
              <li>
                <a href="{{ parent.url }}">{{ parent.title }}</a>
              </li>
              <li aria-current="page">{{ child.title }}</li>
              {% assign trail_found = true %}
              {% break %}
            {% endif %}

            {% for grandchild in child.links %}
              {% assign grandchild_url_handle = grandchild.url | split: '/collections/' | last %}

              {% if grandchild_url_handle == collection.handle and trail_found == false %}
                <li>
                  <a href="{{ parent.url }}">{{ parent.title }}</a>
                </li>
                <li>
                  <a href="{{ child.url }}">{{ child.title }}</a>
                </li>
                <li aria-current="page">{{ grandchild.title }}</li>
                {% assign trail_found = true %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if trail_found %}
              {% break %}
            {% endif %}
          {% endfor %}

          {% if trail_found %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% if trail_found == false %}
          <li><a href="/collections">Collections</a></li>
          <li aria-current="page">{{ collection.title }}</li>
        {% endif %}

      {% elsif template.name == 'blog' %}
        <li aria-current="page">{{ blog.title }}</li>

      {% elsif template.name == 'article' %}
        <li>
          <a href="{{ blog.url }}">{{ blog.title }}</a>
        </li>
        <li aria-current="page">{{ article.title }}</li>

      {% elsif template.name == 'page' %}
        <li aria-current="page">{{ page.title }}</li>

      {% elsif template.name == 'search' %}
        <li aria-current="page">{{ search.terms | capitalize | prepend: 'Search: ' }}</li>

      {% else %}
        <li aria-current="page">{{ page_title }}</li>
      {% endif %}
    </ol>
  </div>
</section>
