{% doc %}
@param {boolean} [isEmpoweredMind] - If set to true, and the article type is an article, then it will use the text "The Empowered Mind" instead of "The Jackson Journal"
{% enddoc %}

{% liquid
  assign menu_handle = 'main-menu'
%}

<section id="breadcrumb" class="breadcrumb">
  <div class="breadcrumb__container">
    <ol aria-label="Breadcrumb" class="breadcrumb__list small custom-scrollbar">
      {% if template.name == 'product' %}
        <li class="breadcrumb__item">
          <a href="{{ routes.root_url }}" title="Home" class="breadcrumb__link">Home</a>
        </li>
        <li class="breadcrumb__separator">/</li>

        {% assign collection_list = '' %}
        {% for collection in product.collections %}
          {% unless collection.handle == 'sale' %}
            {% capture collection_list %}{{ collection_list }}|{{ collection.handle }}{% endcapture %}
          {% endunless %}
        {% endfor %}
        {% assign collection_list = collection_list | remove_first: '|' | split: '|' %}

        {% assign trail_found = false %}
        {% for parent in linklists[menu_handle].links %}
          {% assign parent_url_handle = parent.url | split: '/collections/' | last %}
          {% if collection_list contains parent_url_handle %}
            <li class="breadcrumb__item">
              <a href="{{ parent.url }}" class="breadcrumb__link">{{ parent.title }}</a>
            </li>
            <li class="breadcrumb__separator">/</li>
            {% assign trail_found = true %}
            {% break %}
          {% endif %}

          {% for child in parent.links %}
            {% assign child_url_handle = child.url | split: '/collections/' | last %}
            {% if collection_list contains child_url_handle and trail_found == false %}
              <li class="breadcrumb__item">
                <a href="{{ parent.url }}" class="breadcrumb__link">{{ parent.title }}</a>
              </li>
              <li class="breadcrumb__separator">/</li>
              <li class="breadcrumb__item">
                <a href="{{ child.url }}" class="breadcrumb__link">{{ child.title }}</a>
              </li>
              <li class="breadcrumb__separator">/</li>
              {% assign trail_found = true %}
              {% break %}
            {% endif %}

            {% for grandchild in child.links %}
              {% assign grandchild_url_handle = grandchild.url | split: '/collections/' | last %}
              {% if collection_list contains grandchild_url_handle and trail_found == false %}
                <li class="breadcrumb__item">
                  <a href="{{ parent.url }}" class="breadcrumb__link">{{ parent.title }}</a>
                </li>
                <li class="breadcrumb__separator">/</li>
                <li class="breadcrumb__item">
                  <a href="{{ child.url }}" class="breadcrumb__link">{{ child.title }}</a>
                </li>
                <li class="breadcrumb__separator">/</li>
                <li class="breadcrumb__item">
                  <a href="{{ grandchild.url }}" class="breadcrumb__link">{{ grandchild.title }}</a>
                </li>
                <li class="breadcrumb__separator">/</li>
                {% assign trail_found = true %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if trail_found %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
        <li class="breadcrumb__item breadcrumb__item--current" aria-current="page">{{ product.title }}</li>

      {% elsif template.name == 'collection' %}
        <li class="breadcrumb__item">
          <a href="{{ routes.root_url }}" title="Home" class="breadcrumb__link">Home</a>
        </li>
        <li class="breadcrumb__separator">/</li>

        {% assign trail_found = false %}

        {% for parent in linklists[menu_handle].links %}
          {% assign parent_url_handle = parent.url | split: '/collections/' | last %}

          {% if parent_url_handle == collection.handle %}
            <li class="breadcrumb__item breadcrumb__item--current" aria-current="page">{{ parent.title }}</li>
            {% assign trail_found = true %}
            {% break %}
          {% endif %}

          {% for child in parent.links %}
            {% assign child_url_handle = child.url | split: '/collections/' | last %}

            {% if child_url_handle == collection.handle and trail_found == false %}
              <li class="breadcrumb__item">
                <a href="{{ parent.url }}" class="breadcrumb__link">{{ parent.title }}</a>
              </li>
              <li class="breadcrumb__separator">/</li>
              <li class="breadcrumb__item breadcrumb__item--current" aria-current="page">{{ child.title }}</li>
              {% assign trail_found = true %}
              {% break %}
            {% endif %}

            {% for grandchild in child.links %}
              {% assign grandchild_url_handle = grandchild.url | split: '/collections/' | last %}

              {% if grandchild_url_handle == collection.handle and trail_found == false %}
                <li class="breadcrumb__item">
                  <a href="{{ parent.url }}" class="breadcrumb__link">{{ parent.title }}</a>
                </li>
                <li class="breadcrumb__separator">/</li>
                <li class="breadcrumb__item">
                  <a href="{{ child.url }}" class="breadcrumb__link">{{ child.title }}</a>
                </li>
                <li class="breadcrumb__separator">/</li>
                <li class="breadcrumb__item breadcrumb__item--current" aria-current="page">{{ grandchild.title }}</li>
                {% assign trail_found = true %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if trail_found %}
              {% break %}
            {% endif %}
          {% endfor %}

          {% if trail_found %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% if trail_found == false %}
          <li class="breadcrumb__item">
            <a href="{{ routes.collections_url }}" class="breadcrumb__link">Collections</a>
          </li>
          <li class="breadcrumb__separator">/</li>
          <li class="breadcrumb__item breadcrumb__item--current" aria-current="page">{{ collection.title }}</li>
        {% endif %}

      {% elsif template.name == 'blog' %}
        <li class="breadcrumb__item">
          <a href="{{ routes.root_url }}" title="Home" class="breadcrumb__link">Home</a>
        </li>
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current" aria-current="page">{{ blog.title }}</li>

      {% elsif template.name == 'article' %}
        {% liquid 

          if isEmpoweredMind
            assign blog_label = "The Empowered Mind"
            assign blog_url = "/pages/the-empowered-mind"
          else 
            assign blog_label = blog.title 
            assign blog_url = blog.url
          endif
        %}

        <li class="breadcrumb__item">
          <a href="{{ routes.root_url }}" title="Home" class="breadcrumb__link">Home</a>
        </li>
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item">
          <a href="{{ blog_url }}" class="breadcrumb__link">{{ blog_label }}</a>
        </li>
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current" aria-current="page">{{ article.title }}</li>

      {% elsif template.name == 'page' %}
        <li class="breadcrumb__item">
          <a href="{{ routes.root_url }}" title="Home" class="breadcrumb__link">Home</a>
        </li>
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current" aria-current="page">{{ page.title }}</li>

      {% elsif template.name == 'search' %}
        <li class="breadcrumb__item">
          <a href="{{ routes.root_url }}" title="Home" class="breadcrumb__link">Home</a>
        </li>
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current" aria-current="page">
          {{ search.terms | capitalize | prepend: 'Search: ' }}
        </li>

      {% else %}
        <li class="breadcrumb__item">
          <a href="{{ routes.root_url }}" title="Home" class="breadcrumb__link">Home</a>
        </li>
        <li class="breadcrumb__separator">/</li>
        <li class="breadcrumb__item breadcrumb__item--current" aria-current="page">{{ page_title }}</li>
      {% endif %}
    </ol>
  </div>
</section>
