{{ 'snippet-collection-filters.css' | asset_url | stylesheet_tag }}

<form class="filter">
  <div class="filter__content custom-scrollbar">
    <div class="filter__group filter__clear-all">
      <a class="body" href="{{ collection.url }}?sort_by={{ collection.sort_by }}">Clear all</a>
    </div>

    <div class="filter__group filter__sort-by">
      <h3 class="filter__group-title body--bold">Sort by</h3>
      <ul class="filter__options">
        <li class="filter__option">
          <label class="filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="manual"
              class="filter__radio"
              {% if collection.sort_by == 'manual' or collection.sort_by == blank %}
                checked
              {% endif %}
            >
            <span class="body">Featured</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="best-selling"
              class="filter__radio"
              {% if collection.sort_by == 'best-selling' %}
                checked
              {% endif %}
            >
            <span class="body">Best selling</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="price-ascending"
              class="filter__radio"
              {% if collection.sort_by == 'price-ascending' %}
                checked
              {% endif %}
            >
            <span class="body">Price low to high</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="price-descending"
              class="filter__radio"
              {% if collection.sort_by == 'price-descending' %}
                checked
              {% endif %}
            >
            <span class="body">Price high to low</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="created-descending"
              class="filter__radio"
              {% if collection.sort_by == 'created-descending' %}
                checked
              {% endif %}
            >
            <span class="body">Newly added</span>
          </label>
        </li>
        <li class="filter__option">
          <label class="filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="created-ascending"
              class="filter__radio"
              {% if collection.sort_by == 'created-ascending' %}
                checked
              {% endif %}
            >
            <span class="body">Oldest first</span>
          </label>
        </li>
      </ul>
    </div>

    {%- for filter in collection.filters -%}
      {% liquid
        assign should_display_filter = true
        assign visible_options_count = 0

        case filter.type
          when 'list'
            for filter_value in filter.values
              if filter_value.count > 0 or filter_value.active
                assign visible_options_count = visible_options_count | plus: 1
              endif
            endfor
            if visible_options_count == 0 or filter.values.size <= 1
              assign should_display_filter = false
            endif
          when 'boolean'
            if filter.true_value.count > 0 or filter.true_value.active
              assign visible_options_count = visible_options_count | plus: 1
            endif
            if filter.false_value.count > 0 or filter.false_value.active
              assign visible_options_count = visible_options_count | plus: 1
            endif
            if visible_options_count == 0
              assign should_display_filter = false
            endif
          when 'price_range'

        endcase
      %}

      {% if should_display_filter %}
        <div class="filter__group">
          <h3 class="filter__group-title body--bold">
            {{ filter.label }}
            {%- if filter.active_values.size > 0 -%}
              <span class="filter__active-count body">({{ filter.active_values.size }})</span>
            {%- endif -%}
          </h3>

          {%- if filter.active_values.size > 0 -%}
            <a href="{{ filter.url_to_remove }}" class="filter__reset body">Reset</a>
          {%- endif -%}

          {%- case filter.type -%}
            {%- when 'boolean' -%}
              <ul class="filter__options">
                <li class="filter__option">
                  <label class="filter__checkbox-label">
                    <input
                      type="checkbox"
                      name="{{ filter.param_name }}"
                      value="{{ filter.true_value.value }}"
                      class="filter__checkbox"
                      {% if filter.true_value.active -%}
                        checked
                      {%- endif %}
                      {% if filter.true_value.count == 0 and filter.true_value.active == false -%}
                        disabled
                      {%- endif -%}
                    >
                    <span class="body">{{- filter.true_value.label -}}</span>
                  </label>
                </li>
                <li class="filter__option">
                  <label class="filter__checkbox-label">
                    <input
                      type="checkbox"
                      name="{{ filter.param_name }}"
                      value="{{ filter.false_value.value }}"
                      class="filter__checkbox"
                      {% if filter.false_value.active -%}
                        checked
                      {%- endif %}
                      {% if filter.false_value.count == 0 and filter.false_value.active == false -%}
                        disabled
                      {%- endif %}
                    >
                    <span class="body">{{- filter.false_value.label -}}</span>
                  </label>
                </li>
              </ul>
            {%- when 'list' -%}
              <ul class="filter__options">
                {%- for filter_value in filter.values -%}
                  <li class="filter__option">
                    <label class="filter__checkbox-label">
                      <input
                        type="checkbox"
                        name="{{ filter_value.param_name }}"
                        value="{{ filter_value.value }}"
                        class="filter__checkbox"
                        {% if filter_value.active -%}
                          checked
                        {%- endif %}
                        {% if filter_value.count == 0 and filter_value.active == false -%}
                          disabled
                        {%- endif %}
                      >
                      <span class="body">
                        {%- case filter_value.display.type -%}
                          {%- when 'colors' -%}
                            {% liquid
                              assign size_limit = filter_value.display.value.size | at_most: 4
                              assign rotation = '0deg'
                              if size_limit == 2
                                assign rotation = '45deg'
                              endif

                              assign angle_increment = 360 | divided_by: size_limit
                              assign angle = 0
                            %}
                            {%- capture conic_gradient -%}
                              {%- for color in filter_value.display.value limit: size_limit -%}
                                {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                              {%- endfor -%}
                            {%- endcapture -%}
                            <span
                              class="filter__color-swatch"
                              style="background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});"
                            ></span>
                          {%- when 'image' -%}
                            {{
                              filter_value.display.value
                              | image_url: width: 25
                              | image_tag: alt: filter_value.display.value.alt, class: 'filter__option-image'
                            }}
                        {%- endcase -%}
                        {% if filter.label == 'Size' and filter_value.label contains '.0' %}
                          {{ filter_value.label | remove: '.0' }}
                        {% else %}
                          {{ filter_value.label }}
                        {% endif %}
                      </span>
                    </label>
                  </li>
                {%- endfor -%}
              </ul>
            {%- when 'price_range' -%}
              <div class="filter__price-range">
                <div class="filter__price-input-wrapper">
                  <label for="Filter-{{ filter.min_value.param_name }}" class="filter__price-label body">From</label>
                  <div class="filter__price-field">
                    <span class="filter__price-currency body">{{ cart.currency.symbol }}</span>
                    <input
                      name="{{ filter.min_value.param_name }}"
                      id="Filter-{{ filter.min_value.param_name }}"
                      class="filter__price-input"
                      {% if filter.min_value.value -%}
                        value="{{ filter.min_value.value | money | replace: ',', '' }}"
                      {%- endif %}
                      type="number"
                      placeholder="0"
                      min="0"
                      max="{{ filter.range_max | money | replace: ',', '' }}"
                    >
                  </div>
                </div>

                <div class="filter__price-input-wrapper">
                  <label for="Filter-{{ filter.max_value.param_name }}" class="filter__price-label body">To</label>
                  <div class="filter__price-field">
                    <span class="filter__price-currency body">{{ cart.currency.symbol }}</span>
                    <input
                      name="{{ filter.max_value.param_name }}"
                      id="Filter-{{ filter.max_value.param_name }}"
                      class="filter__price-input"
                      {% if filter.max_value.value -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                      {%- endif %}
                      type="number"
                      placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      min="0"
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    >
                  </div>
                </div>
              </div>
          {%- endcase -%}
        </div>
      {% endif %}
    {%- endfor -%}
  </div>

  <div class="filter__footer">
    <button type="submit" class="filter__apply-button body">Apply Filters</button>
  </div>
  <script
    src="{{ "snippet-collection-filter.js" | asset_url }}"
    defer
  ></script>
</form>
