{% comment %}
  Mega Menu Sidebar Drawer Component
{% endcomment %}

{{ 'snippet-menu.css' | asset_url | stylesheet_tag }}

<aside
  x-data="menuDrawer"
  x-init="init()"
  @keydown.escape.window="closeMenu()"
  class="menu-drawer__container"
  aria-label="Main menu"
>
  <div
    x-show="isOpen"
    class="menu-drawer__overlay"
    @click="closeMenu()"
    role="button"
    aria-label="Close menu"
    tabindex="-1"
  ></div>
  <nav x-show="isOpen" x-cloak :data-active-level="currentLevel" class="menu-drawer">
    <div class="menu-drawer__inner">
      <section
        :class="{'menu-drawer__level': true, 'menu-drawer__level--active': currentLevel >= 1}"
        id="menu-drawer-level-1"
        class="custom-scrollbar"
      >
        <div class="menu-drawer__scrollable-content custom-scrollbar">
          <div class="mobile-search-wrapper">
            {% render 'search-form' %}
          </div>
          <ul class="menu-drawer__menu" role="menu" id="menu-drawer__menu-1">
            {% for link in linklists['main-menu'].links %}
              <li
                role="none"
                :class="{ 'menu-drawer__item--active': currentLevel >= 2 && {{ forloop.index0 }} === activeLevel1Index }"
              >
                {% if link.links.size > 0 %}
                  <button
                    @click="openLevel(2, '{{ link.title }}', {{ forloop.index0 }}, '{{ link.object.featured_image | image_url: width: 1200 }}', '{{ link.object.featured_image.alt }}')"
                    class="menu-drawer__button menu-drawer__button--has-submenu body--uppercase"
                    role="menuitem"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span :class="{ 'menu-drawer__item--inactive': currentLevel >= 2 && {{ forloop.index0 }} !== activeLevel1Index }">
                      {{- link.title -}}
                    </span>
                    <span :class="{ 'menu-drawer__item--inactive': currentLevel >= 2 && {{ forloop.index0 }} !== activeLevel1Index }">
                      {% render 'icon-arrow-see-more' %}
                    </span>
                  </button>
                {% else %}
                  <a
                    href="{{ link.url }}"
                    class="menu-drawer__link body--uppercase"
                    :class="
                      {
                      'menu-drawer__item--inactive': currentLevel >= 2 }
                    "
                    role="menuitem"
                  >
                    {{ link.title }}
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          <div class="menu-drawer__video-container">
            <video
              class="menu-drawer__video"
              :class="{'menu-drawer__media--inactive': currentLevel >= 2}"
              x-ref="menuVideo"
              x-init="$watch('isOpen', value => {if (value && $refs.menuVideo) {$refs.menuVideo.play().catch(e => console.log('Autoplay prevented:', e));} else if ($refs.menuVideo) {$refs.menuVideo.pause();}})"
              muted
              loop
              playsinline
              preload="metadata"
              aria-hidden="true"
            >
              <source src="https://cdn.shopify.com/videos/c/o/v/ccff09333a4c451588e9b1a091de9d04.mp4" type="video/mp4">
            </video>
            <p class="body" :class="{'menu-drawer__media--inactive': currentLevel >= 2}">Winter 25 Collection</p>
          </div>
          <ul class="menu-drawer__menu" id="menu-drawer__menu-1-secondary" role="menu">
            {% for link in linklists['secondary-main-menu'].links %}
              <li role="none">
                <a
                  href="{{ link.url }}"
                  class="menu-drawer__link body--uppercase"
                  :class="{'menu-drawer__item--inactive': currentLevel >= 2}"
                  role="menuitem"
                >
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="menu-drawer__klaviyo">
          <h2 class="menu-drawer__klaviyo__header body--uppercase">JOIN THE JACKSON CLUB</h2>
          <div class="klaviyo-form-WH7CVh"></div>
          <p class="small">By signing up, you agree to our terms and conditions.</p>
        </div>
      </section>
      <section
        class="custom-scrollbar"
        :class="{'menu-drawer__level': true, 'menu-drawer__level--active': currentLevel >= 2}"
        id="menu-drawer-level-2"
        aria-labelledby="menu-drawer-heading-2"
      >
        <header class="menu-drawer__header">
          <button @click="backLevel()" class="menu-drawer__back" aria-label="Back to previous menu">
            <span :class="{'menu-drawer__media--inactive': currentLevel >= 3}">{% render 'icon-arrow-see-less' %}</span>
            <span class="body--uppercase" :class="{'menu-drawer__media--inactive': currentLevel >= 3}">Back</span>
          </button>
          <h2
            class="menu-drawer__heading body--uppercase"
            id="menu-drawer-heading-2"
            :class="{'menu-drawer__media--inactive': currentLevel >= 3}"
            x-text="decodeEntities(menuTitle)"
          ></h2>
        </header>
        <figure
          class="menu-drawer__featured-image"
          :class="{'menu-drawer__featured-image--loading-new-image': isImageLoading}"
        >
          <img
            :src="featuredImageUrl || '#'"
            :alt="featuredImageAlt"
            :srcset="generateSrcset(featuredImageUrl)"
            :class="{'menu-drawer__media--inactive': currentLevel >= 3}"
            loading="eager"
            @load="imageLoaded = true; isImageLoading = false;"
            height="100"
            width="100"
          >
        </figure>
        <ul class="menu-drawer__menu" role="menu">
          <template x-for="(item, childIndex) in submenu" :key="childIndex">
            <li
              role="none"
              :class="{'menu-drawer__item--active': currentLevel >= 3 && childIndex === activeLevel2Index}"
            >
              <template x-if="item.links && item.links.length > 0">
                <button
                  @click="openLevel(3, item.title, currentParentIndex, null, null, childIndex)"
                  class="menu-drawer__button menu-drawer__button--has-submenu body--uppercase"
                  role="menuitem"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span
                    :class="{'menu-drawer__item--inactive': currentLevel >= 3 && childIndex !== activeLevel2Index}"
                    x-text="decodeEntities(item.title)"
                  ></span>
                  <span :class="{'menu-drawer__item--inactive': currentLevel >= 3 && childIndex !== activeLevel2Index}">
                    {% render 'icon-arrow-see-more' %}
                  </span>
                </button>
              </template>
              <template x-if="!item.links || item.links.length === 0">
                <a
                  :href="item.url"
                  class="menu-drawer__link body--uppercase"
                  :class="{'menu-drawer__item--inactive': currentLevel >= 3}"
                  role="menuitem"
                  x-text="decodeEntities(item.title)"
                ></a>
              </template>
            </li>
          </template>
        </ul>

        <template x-if="filteredArticles && filteredArticles.length > 0">
          <div :class="{'menu-drawer__media--inactive': currentLevel >= 3}">
            <h2 class="menu-drawer__heading-journal body--uppercase">The Jackson Journal</h2>
            <div class="splide" x-ref="splideSlider">
              <div class="splide__track">
                <ul class="splide__list"></ul>
              </div>
            </div>
          </div>
        </template>
      </section>
      <section
        :class="{'menu-drawer__level': true, 'menu-drawer__level--active': currentLevel >= 3}"
        id="menu-drawer-level-3"
        aria-labelledby="menu-drawer-heading-3"
      >
        <header class="menu-drawer__header">
          <button @click="backLevel()" class="menu-drawer__back" aria-label="Back to previous menu">
            {% render 'icon-arrow-see-less' %}
            <span class="body--uppercase">Back</span>
          </button>
          <h2
            class="menu-drawer__heading body--uppercase"
            id="menu-drawer-heading-3"
            x-text="decodeEntities(subMenuTitle)"
          ></h2>
        </header>
        <ul class="menu-drawer__menu" role="menu">
          <template x-for="(item, index) in subSubmenu" :key="index">
            <li role="none">
              <a
                :href="item.url"
                class="menu-drawer__link body--uppercase"
                role="menuitem"
                x-text="decodeEntities(item.title)"
              ></a>
            </li>
          </template>
        </ul>
      </section>
    </div>
  </nav>
</aside>

<script>
  window.menuConfig = {
    menuData: [
      {% for link in linklists['main-menu'].links %}
        {
          title: "{{ link.title | strip_html | replace: '"', '\"' | replace: "'", "\\'" }}",
          url: "{{ link.url }}",
          collectionId: "{{ link.object.id }}",
          featuredImage: "{{ link.object.featured_image | image_url: '1200x' }}",
          featuredImageAlt: "{{ link.object.featured_image.alt | strip_html | replace: '"', '\"' | replace: "'", "\\'" }}",
          links: [
            {% for childlink in link.links %}
              {
                title: "{{ childlink.title | strip_html | replace: '"', '\"' | replace: "'", "\\'" }}",
                url: "{{ childlink.url }}",
                links: [
                  {% for grandchildlink in childlink.links %}
                    {
                      title: "{{ grandchildlink.title | strip_html | replace: '"', '\"' | replace: "'", "\\'" }}",
                      url: "{{ grandchildlink.url }}"
                    }{% unless forloop.last %},{% endunless %}
                  {% endfor %}
                ]
              }{% unless forloop.last %},{% endunless %}
            {% endfor %}
          ]
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ],
    articles: [
      {% for article in blogs['the-jackson-journal'].articles limit: 50 %}
        {
          title: "{{ article.title | escape }}",
          image: "{{ article.image | image_url: width: '400px' }}",
          url: "{{ article.url | escape }}",
          tag: "{{ article.tags[0] | escape }}",
          relatedIds: [{% for relatedCollection in article.metafields.custom.related_collections.value %}'{{ relatedCollection.id }}',{% endfor %}]
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  };
</script>

<script src="{{ 'snippet-menu.js' | asset_url }}" async></script>
