{% comment %}
  Mega Menu Sidebar Drawer Component
{% endcomment %}

{{ 'snippet-menu.css' | asset_url | stylesheet_tag }}

{%- capture menu_data -%}
[
  {%- for link in linklists['main-menu'].links -%}
    {%- unless localization.market.handle != 'au' and link.title == 'Gift Cards' -%}
    {
      "title": {{ link.title | json }},
      "url": {{ link.url | json }},
      "collectionId": {{ link.object.id | json }},
      "featuredImage": {{ link.object.featured_image | image_url: '1200x' | json }},
      "featuredImageAlt": {{ link.object.featured_image.alt | json }},
      "links": [
        {%- for childlink in link.links -%}
        {
          "title": {{ childlink.title | json }},
          "url": {{ childlink.url | json }},
          "links": [
            {%- for grandchildlink in childlink.links -%}
            {
              "title": {{ grandchildlink.title | json }},
              "url": {{ grandchildlink.url | json }}
            }{%- unless forloop.last -%},{%- endunless -%}
            {%- endfor -%}
          ]
        }{%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}
      ]
    }{%- unless forloop.last -%},{%- endunless -%}
    {%- endunless -%}
  {%- endfor -%}
]
{%- endcapture -%}

{%- capture articles_data -%}
[
  {%- for article in blogs['the-jackson-journal'].articles -%}
  {
    "title": {{ article.title | json }},
    "image": {{ article.image | image_url: width: '600px' | json }},
    "url": {{ article.url | json }},
    "tag": {{ article.tags[0] | json }},
    "relatedIds": {{ article.metafields.custom.related_collections.value | map: 'id' | json }}
  }{%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
]
{%- endcapture -%}

<aside
  class="menu-drawer__container"
  aria-label="Main menu"
>
  <div
    class="menu-drawer__overlay"
    role="button"
    aria-label="Close menu"
    tabindex="-1"
  ></div>
  <nav class="menu-drawer" data-active-level="1">
    <div class="menu-drawer__inner">
      <section
        class="menu-drawer__level menu-drawer__level--active custom-scrollbar"
        id="menu-drawer-level-1"
      >
        <div class="menu-drawer__scrollable-content custom-scrollbar">
          <ul class="menu-drawer__menu" role="menu" id="menu-drawer__menu-1">
            {% for link in linklists['main-menu'].links %}
              {% unless localization.market.handle != 'au' and link.title == 'Gift Cards' %}
                <li role="none">
                  {% if link.links.size > 0 %}
                    <button
                      data-menu-index="{{ forloop.index0 }}"
                      data-menu-title="{{ link.title }}"
                      data-menu-image="{{ link.object.featured_image | image_url: width: 2000 }}"
                      data-menu-image-alt="{{ link.object.featured_image.alt }}"
                      class="menu-drawer__button menu-drawer__button--has-submenu body--uppercase"
                      role="menuitem"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span>{{ link.title }}</span>
                      <span>{% render '_icon-arrow-see-more' %}</span>
                    </button>
                  {% else %}
                    <a
                      href="{{ link.url }}"
                      class="menu-drawer__link body--uppercase"
                      role="menuitem"
                    >
                      {{ link.title }}
                    </a>
                  {% endif %}
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
          <div class="menu-drawer__video-container">
            <a href="{{ routes.collections_url }}/new-arrivals" style="text-decoration: none;">
              <video
                class="menu-drawer__video"
                muted
                loop
                playsinline
                preload="metadata"
                aria-hidden="true"
              >
                <source
                  src="https://cdn.shopify.com/videos/c/o/v/e6df503997df432b9978709fbb1c25b5.mp4"
                  type="video/mp4"
                >
              </video>
              <p class="body">Transeasonal Refinement</p>
            </a>
          </div>
          <ul class="menu-drawer__menu" id="menu-drawer__menu-1-secondary" role="menu">
            {% for link in linklists['secondary-main-menu'].links %}
              <li role="none">
                <a
                  href="{{ link.url }}"
                  class="menu-drawer__link body--uppercase"
                  role="menuitem"
                >
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <div class="menu-drawer__klaviyo">
            <h2 class="menu-drawer__klaviyo__header body--uppercase">JOIN THE JACKSON CLUB</h2>
            <div class="klaviyo-form-WH7CVh"></div>
            <p class="small">By signing up, you agree to our terms and conditions.</p>
          </div>
        </div>
      </section>
      <section
        class="menu-drawer__level custom-scrollbar"
        id="menu-drawer-level-2"
        aria-labelledby="menu-drawer-heading-2"
      >
        <header class="menu-drawer__header">
          <button class="menu-drawer__back" aria-label="Back to previous menu">
            <span>{% render '_icon-arrow-see-less' %}</span>
            <span class="body--uppercase">Back</span>
          </button>
          <h2
            class="menu-drawer__heading body--uppercase"
            id="menu-drawer-heading-2"
          ></h2>
        </header>
        <figure class="menu-drawer__featured-image">
          <a href="#">
            <img
              src="#"
              alt=""
              loading="eager"
              height="100"
              width="100"
            >
          </a>
        </figure>
        <ul class="menu-drawer__menu menu-drawer__menu-level-2" role="menu"></ul>
        <div class="menu-drawer__journal-container" style="display: none;">
          <h2 class="menu-drawer__heading-journal body--uppercase">The Jackson Journal</h2>
          <div class="splide">
            <div class="splide__arrows">
              <button class="splide__arrow splide__arrow--prev">{% render '_icon-arrow-see-less' %}</button>
              <button class="splide__arrow splide__arrow--next">{% render '_icon-arrow-see-more' %}</button>
            </div>
            <div class="splide__track">
              <ul class="splide__list"></ul>
            </div>
          </div>
        </div>
      </section>
      <section
        class="menu-drawer__level"
        id="menu-drawer-level-3"
        aria-labelledby="menu-drawer-heading-3"
      >
        <header class="menu-drawer__header">
          <button class="menu-drawer__back" aria-label="Back to previous menu">
            {% render '_icon-arrow-see-less' %}
            <span class="body--uppercase">Back</span>
          </button>
          <h2
            class="menu-drawer__heading body--uppercase"
            id="menu-drawer-heading-3"
          ></h2>
        </header>
        <ul class="menu-drawer__menu menu-drawer__menu-level-3" role="menu"></ul>
      </section>
    </div>
  </nav>
</aside>

<script
  src="{{ 'snippet-menu.js' | asset_url }}"
  id="menu-drawer-script"
  data-menu="{{ menu_data | strip_newlines | escape }}"
  data-articles="{{ articles_data | strip_newlines | escape }}"
  defer
></script>
