{% comment %}
  Product Card
{% endcomment %}

{% assign image_width = image_width | default: 700 %}
{% assign image_height = image_height | default: 700 %}
{% assign loading_strategy = loading_strategy | default: 'lazy' %}
{% assign fetch_priority = fetch_priority | default: 'auto' %}
{% assign image_alt = product.featured_image.alt | escape | strip_html | strip_newlines | default: product.title %}

<div class="product-card">
  <a class="product-card__image-link" href="{{ product.url }}">
    <div
      class="product-card__image-wrapper"
      {% if product.images.size > 1 %}
        x-data="
          {
            isHovering: false,
            splideInstance: null,
            imageLoaded: false
          }
        "
        @mouseenter="
          isHovering = true;
          if (!splideInstance && window.Splide) {
            $nextTick(() => {
              try {
                splideInstance = new Splide($refs.splide, {
                  type: 'fade',
                  arrows: true,
                  pagination: false,
                  speed: 400,
                  lazyLoad: 'nearby'
                }).mount();
              } catch (e) {
                console.warn('Splide not available yet');
              }
            })
          }
        "
        @mouseleave="isHovering = false; if (splideInstance) { splideInstance.destroy(); splideInstance = null; }"
      {% else %}
        x-data="{ imageLoaded: false }"
      {% endif %}
    >
      <div
        {% if product.images.size > 1 %}
          x-bind:class="{ 'opacity-0': isHovering }"
        {% endif %}
      >
        {{
          product.featured_image
          | image_url: width: image_width, height: image_height, crop: 'center'
          | image_tag:
            class: 'product-card__image',
            width: image_width,
            height: image_height,
            alt: image_alt,
            loading: loading_strategy,
            fetchpriority: fetch_priority,
            onload: "if(this.closest('.product-card__image-wrapper').__x) this.closest('.product-card__image-wrapper').__x.$data.imageLoaded = true"
        }}
      </div>

      {% if product.images.size > 1 %}
        <div
          class="product-card__slider-wrapper"
          x-show="isHovering"
          x-transition:enter="transition ease-out duration-200"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-cloak
        >
          <div class="splide product-card__slider" x-ref="splide">
            <div class="splide__track">
              <ul class="splide__list">
                {% for image in product.images %}
                  <li class="splide__slide">
                    {% assign slide_image_alt = image.alt
                      | escape
                      | strip_html
                      | strip_newlines
                      | default: product.title
                    %}
                    {{
                      image
                      | image_url: width: image_width, height: image_height, crop: 'center'
                      | image_tag:
                        class: 'product-card__image',
                        width: image_width,
                        height: image_height,
                        alt: slide_image_alt,
                        loading: 'lazy'
                    }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </a>

  <div class="product-card__content">
    <a href="{{ product.url }}" class="product-card__title-link">
      <h3 class="product-card__title">{{ product.title }}</h3>
    </a>

    {% if product.metafields.custom.fabric_description != blank %}
      <p class="product-card__material">
        {{ product.metafields.custom.fabric_description }}
      </p>
    {% endif %}

    <p class="product-card__price">
      {% if product.compare_at_price > product.price %}
        <span class="product-card__price--compare">{{ product.compare_at_price | money }}</span>
      {% endif %}
      <span class="product-card__price--current">{{ product.price | money }}</span>
    </p>
  </div>
</div>
