<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- unless settings.favicon == blank -%}
      <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endunless -%}

    <title>
      {{ page_title }}
      {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
      {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">
    {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'quicklink.umd.js' | asset_url }}" defer></script>
    <script src="{{ 'alpine.min.js' | asset_url }}" defer></script>
    <script src="{{ 'predictive-search.js' | asset_url }}" defer></script>
    <script src="{{ 'splide.min.js' | asset_url }}" defer></script>
    <script src="{{ 'ploiu-vanilla-js-accordion.min.js' | asset_url }}" defer></script>
    <script src="{{ 'global.js' | asset_url }}" defer></script>

    {% render 'schemas' %}
    {% render 'social-meta-tags' %}
    {{ content_for_header }}
  </head>

  <body>
    {% comment %}
      Skip to content accessibility link
    {% endcomment %}
    <a href="#main-content" class="skip-to-content desktop">
      <span>Skip to content</span>
    </a>

    <header>
      {% sections 'header-group' %}
    </header>

    <main id="main-content">
      {{ content_for_layout }}
    </main>

    <footer class="section-wrap">
      <div class="container">
        {% sections 'footer-group' %}
      </div>
    </footer>
    {% comment %}
      Put this code within <body> tag —
      in a place where you want the ajax-cart section to appear
    {% endcomment %}

    {% section 'main-cart' %}

    <script type="application/json" data-ajax-cart-initial-state>
      {{ cart | json }}
    </script>
    <script type="module">
      import '{{ 'liquid-ajax-cart.js' | asset_url }}';
    </script>
  </body>
</html>
