<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {% render 'shogun-optimizer' %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    <title>
      {{- page_title -}}
    </title>
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    {{ 'global-theme.css' | asset_url | stylesheet_tag }}
    {{ 'lib-splide-core.min.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'lib-splide.min.js' | asset_url }}" defer></script>
    <script src="{{ 'global-theme.js' | asset_url }}" defer></script>
    <script src="{{ 'global-cart.js' | asset_url }}" defer></script>
    <script src="{{ 'lib-gsap.min.js' | asset_url }}" defer></script>
    <script src="{{ 'global-animations.js' | asset_url }}" defer></script>
    <script src="{{ 'global-predictive-search.js' | asset_url }}" defer></script>
    <script src="{{ 'lib-ploiu-vanilla-js-accordion.min.js' | asset_url }}" defer></script>
    {{ content_for_header }}
    <script type="speculationrules">
      {
        "prerender": [
          {
            "source": "document",
            "where": {
              "selector_matches": ".prerender"
            },
            "eagerness": "eager"
          }
        ]
      }
    </script>
  </head>
  <body>
    <header>
      {% sections 'header-group' %}
    </header>
    {% section 'cart-drawer' %}
    <main id="main-content">
      {{ content_for_layout }}
    </main>
    <footer class="section-wrap">
      <div class="container">
        {% sections 'footer-group' %}
      </div>
    </footer>
  </body>
</html>
