<!doctype html>
<html lang="en">
  <head>
    {% render 'shogun-optimizer' %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="only light">
    {%- unless settings.favicon == blank -%}
      <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endunless -%}

    <title>
      {{ page_title }}
      {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
      {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">
    {{ 'global-theme.css' | asset_url | stylesheet_tag: preload: true }}

    {% comment %}
      Klaviyo Newsletter Image Preloading
    {% endcomment %}
    {%- unless settings.klaviyo_newsletter_image_1 == blank -%}
      <link rel="preload" as="image" href="{{ settings.klaviyo_newsletter_image_1 }}">
    {%- endunless -%}
    {%- unless settings.klaviyo_newsletter_image_2 == blank -%}
      <link rel="preload" as="image" href="{{ settings.klaviyo_newsletter_image_2 }}">
    {%- endunless -%}

    <script src="{{ 'global-theme.js' | asset_url }}" defer></script>
    <script src="{{ 'lib-alpine.min.js' | asset_url }}" defer></script>
    <script src="{{ 'global-predictive-search.js' | asset_url }}" defer></script>
    <script src="{{ 'lib-splide.min.js' | asset_url }}" defer></script>
    <script src="{{ 'lib-ploiu-vanilla-js-accordion.min.js' | asset_url }}" defer></script>
    <script src="{{ 'lib-quicklink.min.js' | asset_url }}" defer></script>
    <script src="{{ 'global-cart.js' | asset_url }}" defer></script>
    <script src="{{ 'lib-split-type.min.js' | asset_url }}" defer></script>
    <script src="{{ 'lib-gsap.min.js' | asset_url }}" defer></script>
    <script src="{{ 'lib-scrolltrigger.min.js' | asset_url }}" defer></script>
    <script src="{{ 'global-animations.js' | asset_url }}" defer></script>
    {% comment %}
      GTM Head Tag
    {% endcomment %}
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-5Q4CBSD');
    </script>
    {{ content_for_header }}
  </head>

  <body>
    {% comment %}
      GTM Body Tag
    {% endcomment %}

    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5Q4CBSD"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>

    {% comment %}
      Skip to content accessibility link
    {% endcomment %}
    <a href="#main-content" class="skip-to-content desktop">
      <span>Skip to content</span>
    </a>

    <header>
      {% sections 'header-group' %}
    </header>

    <main id="main-content">
      {{ content_for_layout }}
    </main>

    <footer class="section-wrap">
      <div class="container">
        {% sections 'footer-group' %}
      </div>
    </footer>
    {% section 'cart-drawer' %}
  </body>
</html>
