<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {% render 'shogun-optimizer' %}
    {% render 'gcm-integration-script' %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    <title>
      {{- page_title -}}
    </title>
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    {{ 'global-theme.css' | asset_url | stylesheet_tag }}
    {{ 'lib-splide-core.min.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'lib-splide.min.js' | asset_url }}" defer></script>
    <script src="{{ 'global-theme.js' | asset_url }}" defer></script>
    <script src="{{ 'global-cart.js' | asset_url }}" defer></script>
    <script src="{{ 'lib-gsap.min.js' | asset_url }}" defer></script>
    <script src="{{ 'global-animations.js' | asset_url }}" defer></script>
    <script src="{{ 'global-predictive-search.js' | asset_url }}" defer></script>
    <script src="{{ 'lib-ploiu-vanilla-js-accordion.min.js' | asset_url }}" defer></script>
    {% comment %}
      GTM Head Tag
    {% endcomment %}
    <script>
      !(function (e, t, a, n) {
        (e[n] = e[n] || []), e[n].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var g = t.getElementsByTagName(a)[0],
          m = t.createElement(a);
        (m.async = !0),
          (m.src = 'https://www.googletagmanager.com/gtm.js?id=GTM-5Q4CBSD'),
          g.parentNode.insertBefore(m, g);
      })(window, document, 'script', 'dataLayer');
    </script>
    {{ content_for_header }}
    <script type="speculationrules">
      {
        "prerender": [
          {
            "source": "document",
            "where": {
              "selector_matches": ".prerender"
            },
            "eagerness": "eager"
          }
        ]
      }
    </script>
  </head>
  <body>
    {% comment %}
      GTM Body Tag
    {% endcomment %}
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5Q4CBSD"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <header>
      {% sections 'header-group' %}
    </header>
    {% section 'cart-drawer' %}
    <main id="main-content">
      {{ content_for_layout }}
    </main>
    <footer class="section-wrap">
      <div class="container">
        {% sections 'footer-group' %}
      </div>
    </footer>
  </body>
</html>
