{% comment %}
  Refactoring main concepts:
    Seperation of Concerns (CSS, HTML/Liquid/Schema, JS)
    Simplicitiy - Less code
    Readability - Use variables instead of direct references i.e. id instead of section.id
    Modularity - Seperated files, pure functions that don't mutate external state
{% endcomment %}

{% comment %}
  Section Liquid Variables:
    Theme editor settings for the entire section saved as semantically named variables ✔
{% endcomment %}
{% assign id = section.id %}
{% assign slider_background_colour = section.settings.background_color %}
{% assign slider_text_colour = section.settings.text_color %}

{% comment %}
  Stylesheet:
    BEM Validated ✔
    Classes in order of use ✔
    No Liquid ✔
    No hardcoded pixel values ✔
{% endcomment %}

<style>
  .announcement-bar {
    padding: var(--space-2xs);
    height: 35px; /* Non-fluid value used for fixed header positioning calculations */
  }

  .announcement-bar__content-text-container a {
    text-decoration: none;
  }

  .announcement-bar__content-text-container strong {
    font-family: 'Ordinary Regular', sans-serif;
  }
</style>

<div
  class="announcement-bar splide"
  id="announcement-bar-{{ id }}"
  style="background: var(--{{ slider_background_colour }}); {% if slider_background_colour == 'white' %} border-bottom: 1px solid var(--neutral-50); {% endif %}"
>
  <div class="splide__track">
    <ul class="splide__list">
      {% for announcement_slide in section.blocks %}
        {% assign slide_alignment = announcement_slide.settings.alignment %}
        {% assign slide_text = announcement_slide.settings.text %}
        <li class="splide__slide">
          <div
            style="text-align: {% if slide_alignment == 'left' %} left; {% elsif slide_alignment == 'center' %} center; {% else %} right; {% endif %}"
          >
            <div class="announcement-bar__content-text-container small" style="color: var(--{{slider_text_colour}});">
              {{ slide_text }}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const slider = new Splide('#announcement-bar-{{ section.id }}', {
      type: 'loop',
      perPage: 1,
      arrows: false,
      pagination: false,
      drag: true,
      autoplay: {{ section.settings.autoplay }},
      interval: {{ section.settings.slide_interval | times: 1000 }}
    });
    slider.mount();
  });
</script>

{% schema %}
{
  "name": "Announcement Bar",
  "class": "announcement-bar-section",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay slides",
      "default": true
    },
    {
      "type": "range",
      "id": "slide_interval",
      "min": 3,
      "max": 30,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    },
    {
      "type": "select",
      "id": "background_color",
      "label": "Background Color",
      "options": [
        {
          "value": "neutral-950",
          "label": "Black"
        },
        {
          "value": "green-800",
          "label": "Green"
        },
        {
          "value": "white",
          "label": "White"
        }
      ],
      "default": "neutral-950"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text Color",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "neutral-950",
          "label": "Black"
        }
      ],
      "default": "white"
    }
  ],
  "blocks": [
    {
      "name": "Announcement",
      "type": "announcement",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Welcome to our store! <a href=\"#\"> Find out more</a>"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Content Alignment",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
