{% comment %}
  Announcement bar slider that sits at the top of all pages on the site, used for calling out sale and campaigns
{% endcomment %}

<div
  class="announcement-bar splide"
  id="announcement-bar"
  style="background: var(--{{ section.settings.background_color }}); {% if section.settings.background_color == 'white' %} border-bottom: 1px solid var(--neutral-50); {% endif %}"
>
  <div class="splide__track">
    <ul class="splide__list">
      {% for announcement_slide in section.blocks %}
        <li class="splide__slide">
          <div
            style="text-align: {% if announcement_slide.settings.alignment == 'left' %} left; {% elsif announcement_slide.settings.alignment == 'center' %} center; {% else %} right; {% endif %}"
          >
            <div class="announcement-bar__content-text-container small" style="color: var(--{{ section.settings.text_color }});">
              {{ announcement_slide.settings.text }}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script
  src="{{ 'section-announcement-bar.js' | asset_url }}"
  data-autoplay="{{ section.settings.autoplay }}"
  data-interval="{{ section.settings.slide_interval | times: 1000 }}"
  defer
></script>

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "class": "announcement-bar-section",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay slides",
      "default": true
    },
    {
      "type": "range",
      "id": "slide_interval",
      "min": 3,
      "max": 30,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    },
    {
      "type": "select",
      "id": "background_color",
      "label": "Background Color",
      "options": [
        {
          "value": "neutral-950",
          "label": "Black"
        },
        {
          "value": "green-800",
          "label": "Green"
        },
        {
          "value": "white",
          "label": "White"
        }
      ],
      "default": "neutral-950"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text Color",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "neutral-950",
          "label": "Black"
        }
      ],
      "default": "white"
    }
  ],
  "blocks": [
    {
      "name": "Announcement",
      "type": "announcement",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Welcome to our store! <a href=\"#\"> Find out more</a>"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Content Alignment",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
