{% comment %}
  Block quote section
{% endcomment %}

{{ 'section-block-quote.css' | asset_url | stylesheet_tag }}

{% assign id = section.id %}
{% assign show_top_border = section.settings.show_top_border %}
{% assign show_bottom_border = section.settings.show_top_border %}
{% assign anchor_tag = section.settings.anchor_id %}
{% assign quote_text = section.settings.quote_text %}
{% assign quote_animation = section.settings.quote_animation %}
{% assign background_color = section.settings.background_color %}

<div
  id="block-quote-{{ id }}"
  class="block-quote"
  aria-label="Block quote section"
  style="
    {% if show_top_border %} border-top: 1px solid var(--neutral-50); {% endif %}
    {% if show_bottom_border %} border-bottom: 1px solid var(--neutral-50); {% endif %}
  "
>
  <blockquote
    class="block-quote__container block-quote--{{ background_color }}"
    {% if anchor_tag %}
      id="{{ anchor_tag | downcase | replace: ' ', '-' }}-segment"
    {% endif %}
  >
    <div class="block-quote__text heading--3xl {% if quote_animation != 'none' %}{{ quote_animation }}{% endif %}">
      {{ quote_text }}
    </div>
  </blockquote>
</div>

{% schema %}
{
  "name": "Block Quote",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "anchor_id",
      "label": "Anchor ID (lowercase with hyphens)",
      "info": "Example: history or about-us"
    },
    {
      "type": "checkbox",
      "id": "show_top_border",
      "label": "Show top border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "Show bottom border",
      "default": false
    },
    {
      "type": "textarea",
      "id": "quote_text",
      "label": "Quote Text",
      "default": "Add a memorable quote that represents your brand values or highlights your products."
    },
    {
      "type": "select",
      "id": "quote_animation",
      "label": "Quote Animation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "animate-word-slide-up-scroll",
          "label": "Slide Up Words"
        },
        {
          "value": "animate-word-rotate-scroll",
          "label": "Rotate In Words"
        },
        {
          "value": "animate-paragraph-slide-up-scroll",
          "label": "Slide Up"
        },
        {
          "value": "animate-word-opacity-scroll",
          "label": "Fade In Words"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "background_color",
      "label": "Background Color",
      "options": [
        {
          "value": "neutral-950",
          "label": "Black"
        },
        {
          "value": "green-800",
          "label": "Green"
        },
        {
          "value": "white",
          "label": "White"
        }
      ],
      "default": "neutral-950"
    }
  ],
  "presets": [
    {
      "name": "Block Quote",
      "category": "Text",
      "settings": {
        "quote_text": "Add a memorable quote that represents your brand values or highlights your products.",
        "background_color": "neutral-950"
      }
    }
  ],
  "enabled_on": {
    "templates": ["index", "page", "article", "blog"]
  }
}
{% endschema %}
