{% comment %}
  Blog collection section
  Refactored by Jed 7th August 2025
{% endcomment %}

{{ 'section-blog-collection.css' | asset_url | stylesheet_tag }}

{% assign selected_blog = blogs[section.settings.blog] %}
{% assign heading = section.settings.heading %}

{% assign is_lifestyle_page = false %}
{% if request.path contains '/pages/the-empowered-mind' %}
  {% assign is_lifestyle_page = true %}
{% endif %}

<div class="blog-collection" data-lifestyle-filter="{{ is_lifestyle_page }}">
  {% if heading %}
    <h2 class="blog-collection__heading heading--xl">{{ heading }}</h2>
  {% endif %}

  <div class="blog-collection__grid animate-container-cards-scroll" id="article-list"></div>
  <div class="blog-collection__pagination" id="pagination"></div>
</div>

<script type="application/json" id="articles-data">
  [
    {% for article in selected_blog.articles limit: 100 %}
      {
        "id": {{ article.id | json }},
        "tags": {{ article.tags | json }}
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
</script>

{% for article in selected_blog.articles limit: 100 %}
  <template data-article="{{ article.id }}">
    <article class="blog-collection__post">
      {% if article.image %}
        <a href="{{ article.url }}" class="blog-collection__post-image">
          {{
            article.image
            | image_url: width: 850
            | image_tag:
              loading: 'lazy',
              alt: article.title,
              widths: '400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2400, 3000',
              sizes: '(max-width: 400px) 400px, (max-width: 600px) 600px, (max-width: 800px) 800px, (max-width: 1000px) 1000px, (max-width: 1200px) 1200px, (max-width: 1400px) 1400px, (max-width: 1600px) 1600px, (max-width: 1800px) 1800px, (max-width: 2000px) 2000px, (max-width: 2400px) 2400px, 100vw'
          }}
        </a>
      {% endif %}

      <div class="blog-collection__post-content">
        {% if article.tags.size > 0 %}
          <div class="blog-collection__post-category small">
            {%- if is_lifestyle_page and article.tags.size > 1 -%}
              {{ article.tags[1] }}
            {%- else -%}
              {{ article.tags.first }}
            {%- endif -%}
          </div>
        {% endif %}

        <h3 class="blog-collection__post-title heading--l">
          <a href="{{ article.url }}">{{ article.title }}</a>
        </h3>

        <a href="{{ article.url }}" class="blog-collection__post-link-container">
          <span class="blog-collection__post-link body">Read The Article {% render '_icon-arrow-submit-dark' -%}</span>
        </a>
      </div>
    </article>
  </template>
{% endfor %}

<script src="{{ 'section-blog-collection.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Blog Collection",
  "limit": 1,
  "tag": "section",
  "class": "blog-products-section",
  "enabled_on": {
    "templates": ["page", "blog"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "info": "Optional heading for the blog section"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog",
      "info": "Select which blog to display articles from"
    }
  ],
  "presets": [
    {
      "name": "Blog Collection",
      "category": "Blog"
    }
  ]
}
{% endschema %}
