{% comment %} AJAX Cart Sidebar Drawer {% endcomment %}

{{ 'section-cart-drawer.css' | asset_url | stylesheet_tag }}

<div class="cart-overlay initial-hidden"></div>

<aside class="cart" aria-labelledby="cart-title" data-market="{{ localization.market.handle }}">
  <div class="cart__container">
    <header class="cart__header">
      <h2 id="cart-title" class="cart__title heading--xl">Cart</h2>
      <button class="cart__close" type="button" aria-label="Close cart">
        {% render '_icon-close' %}
      </button>
    </header>

    {% if localization.market.handle == 'au' %}
      <div class="cart__shipping" style="display: none;">
        <p class="cart__shipping-text small"></p>
        <div class="cart__shipping-bar">
          <div class="cart__shipping-progress"></div>
        </div>
      </div>
    {% endif %}

    {% form 'cart', cart, class: 'cart__form' %}
      {% if cart.item_count == 0 %}
        <div class="cart__empty-state custom-scrollbar">
          <p class="cart__empty heading--l">Your Cart Is Empty</p>
          <h3 class="cart__new-arrivals-section-title body">Shop Premium Merino Wool Suits</h3>
          <div class="cart__new-arrivals-grid">
            {% for product in collections['mens-suits'].products limit: 4 %}
              <a href="{{ product.url }}" class="cart__new-arrivals-card">
                {% if product.featured_image %}
                  <div class="cart__new-arrivals-image-wrapper">
                    {{
                      product.featured_image
                      | image_url: width: 300
                      | image_tag:
                        class: 'cart__new-arrivals-image',
                        sizes: '(max-width: 768px) 150px, 300px',
                        loading: 'lazy',
                        alt: product.featured_image.alt
                    }}
                  </div>
                {% endif %}
                <h3 class="body--bold cart__new-arrivals-title">{{ product.title }}</h3>
                <p class="small cart__new-arrivals-price">
                  {{ product.price | money_with_currency }}
                  {% if product.compare_at_price > product.price %}
                    <span class="cart__new-arrivals-price--compare">
                      Was
                      {{ product.compare_at_price | money_with_currency -}}
                    </span>
                  {% endif %}
                </p>
              </a>
            {% endfor %}
          </div>
          <a href="{{ routes.collections_url }}/mens-suits" class="cart__new-arrivals body">View Full Collection</a>
        </div>
      {% else %}
        <div class="cart__content-wrapper custom-scrollbar">
          <div class="cart__items">
            {% for item in cart.items %}
              <article
                class="cart-item"
                data-line-item-key="{{ item.key }}"
                data-inventory-quantity="{{ item.variant.inventory_quantity }}"
              >
                <div class="cart-item__image">
                  <img
                    src="{{ item.image | image_url: width: '200x' }}"
                    width="200"
                    height="150"
                    alt="{{ item.title }}"
                  >
                </div>
                <div class="cart-item__content">
                  <div class="cart-item__details">
                    <h3 class="cart-item__title body--bold">
                      <a href="{{ item.url }}">{{ item.product.title }}</a>
                    </h3>
                    <div class="cart-item__specifics">
                      <p class="cart-item__variant small">
                        {% if item.variant.title != 'Default Title' %}
                          {% assign variant_parts = item.variant.title | split: ' / ' %}
                          {% for option in item.product.options %}
                            {% if forloop.index <= variant_parts.size %}
                              {{ option }}:
                              {% if option contains 'Size' -%}
                                {{- variant_parts[forloop.index0] | remove: '.0' -}}
                              {%- else -%}
                                {{- variant_parts[forloop.index0] -}}
                              {%- endif -%}
                              {%- unless forloop.last %}, {% endunless %}
                            {% endif %}
                          {% endfor %}
                        {% else %}
                          One Size
                        {% endif %}
                      </p>
                      <div class="cart-item__price">
                        <p class="small">{{ item.final_line_price | money_with_currency }}</p>
                      </div>
                    </div>
                    <div class="cart-item__actions">
                      <div class="cart-item__quantity">
                        <button
                          class="cart-item__quantity-button cart-item__quantity-button--minus body"
                          type="button"
                          aria-label="Decrease quantity"
                        >
                          -
                        </button>
                        <input
                          type="text"
                          class="cart-item__quantity-input small"
                          readonly
                          value="{{ item.quantity }}"
                          aria-label="Quantity"
                        >
                        <button
                          class="cart-item__quantity-button cart-item__quantity-button--plus body"
                          type="button"
                          aria-label="Increase quantity"
                        >
                          +
                        </button>
                      </div>
                      <button type="button" class="cart-item__remove small">Remove</button>
                    </div>
                  </div>
                </div>
              </article>
            {% endfor %}
          </div>

          <div class="cart__complementary-products" style="display: none;">
            <div class="cart__complementary-products-loading"></div>
            <div class="cart__complementary-products-content" style="display: none;">
              <h3 class="cart__complementary-products-title heading--l">Complement Your Look</h3>
              <div class="cart__complementary-products-slider splide">
                <div class="splide__arrows">
                  <button class="splide__arrow splide__arrow--prev" type="button">
                    {% render '_icon-arrow-see-less' %}
                  </button>
                  <button class="splide__arrow splide__arrow--next" type="button">
                    {% render '_icon-arrow-see-more' %}
                  </button>
                </div>
                <div class="splide__track">
                  <ul class="splide__list"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer class="cart__footer">
          {% if cart.total_discounts > 0 %}
            <div class="cart__footer-row">
              <h3 class="cart__footer-label body">Discounts</h3>
              <span class="cart__footer-value body--bold">{{ cart.total_discounts | money_with_currency }}</span>
            </div>
          {% endif %}
          <div class="cart__footer-row">
            <h3 class="cart__footer-label body">Subtotal</h3>
            <span class="cart__footer-value body--bold">{{ cart.total_price | money_with_currency }}</span>
          </div>
          <button type="submit" name="checkout" class="cart__checkout body">Checkout</button>
        </footer>
      {% endif %}
    {% endform %}
  </div>
</aside>

<div class="cart-secondary">
  <div class="cart-secondary__content"></div>
</div>

{% schema %}
{ "name": "Cart drawer" }
{% endschema %}
