{{ 'section-collections-list.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign collections_per_page = 16
  assign current_page = request.page_info.page | default: 1
-%}

<div class="collections-list">
  <div class="collections-list__container">
    
    <div class="collections-list__header">
      <h1 class="heading--3xl">All Collections</h1>
    </div>

    <div class="collections-list__grid">
      {%- paginate collections by collections_per_page -%}
        {%- for collection in collections -%}
          <a href="{{ collection.url }}" class="collection-card">
            <div class="collection-card__image">
              {%- if collection.featured_image -%}
                <img
                  src="{{ collection.featured_image | image_url: width: 800 }}"
                  srcset="{{ collection.featured_image | image_url: width: 400 }} 400w,
                          {{ collection.featured_image | image_url: width: 600 }} 600w,
                          {{ collection.featured_image | image_url: width: 800 }} 800w"
                  sizes="(min-width: 1100px) 25vw, (min-width: 768px) 33vw, 50vw"
                  alt="{{ collection.title | escape }}"
                  loading="lazy"
                  width="{{ collection.featured_image.width }}"
                  height="{{ collection.featured_image.height }}"
                >
              {%- else -%}
                <div class="collection-card__placeholder">
                  {{ 'collection-1' | placeholder_svg_tag }}
                </div>
              {%- endif -%}
            </div>
            <div class="collection-card__content">
              <h2 class="heading--l collection-card__title">{{ collection.title }}</h2>
              {%- if collection.products_count > 0 -%}
                <p class="body collection-card__count">{{ collection.products_count }} {% if collection.products_count == 1 %}product{% else %}products{% endif %}</p>
              {%- endif -%}
            </div>
          </a>
        {%- endfor -%}

        {%- if paginate.pages > 1 -%}
          <div class="collections-list__pagination">
            {%- if paginate.previous -%}
              <a href="{{ paginate.previous.url }}" class="pagination__link pagination__link--prev">
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 11L1 6L6 1" stroke="currentColor" stroke-linecap="square"/>
                </svg>
                Previous
              </a>
            {%- endif -%}

            <div class="pagination__pages">
              {%- for part in paginate.parts -%}
                {%- if part.is_link -%}
                  <a href="{{ part.url }}" class="pagination__page">{{ part.title }}</a>
                {%- else -%}
                  <span class="pagination__page pagination__page--current">{{ part.title }}</span>
                {%- endif -%}
              {%- endfor -%}
            </div>

            {%- if paginate.next -%}
              <a href="{{ paginate.next.url }}" class="pagination__link pagination__link--next">
                Next
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L6 6L1 11" stroke="currentColor" stroke-linecap="square"/>
                </svg>
              </a>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endpaginate -%}
    </div>
  </div>
</div>