{{ "section-counter.css" | asset_url | stylesheet_tag }}

{% assign heading = section.settings.heading %}
{% assign subheading = section.settings.subheading %}
{% assign section_id = section.id %}
{% assign section_block_size = section.blocks | size %}

<div id="counter-{{ section_id }}">
  <div class="counter__header">
    {% if heading != blank %}
      <h3 class="heading--decorative">{{ heading }}</h3>
    {% endif %}
    {% if subheading != blank %}
      <p>{{ subheading }}</p>
    {% endif %}
  </div>

  <div class="counter__container" style="{% case section_block_size %}
      {% when 1 %}
        grid-template-columns: 1fr;
      {% when 2 %}
        grid-template-columns: repeat(2, 1fr);
      {% else %}
        grid-template-columns: repeat(3, 1fr);
      {% endcase %}
  ">
    {% for counter in section.blocks %}
      {% assign counter_description = counter.settings.counter_description %}
      {% assign counter_duration = counter.settings.counter_duration %}
      {% assign counter_initial_value = counter.settings.counter_initial_value %}
      {% assign counter_final_value = counter.settings.counter_final_value %}
      {% assign counter_prefix = counter.settings.counter_text_prefix %}
      {% assign counter_suffix = counter.settings.counter_text_suffix %}

      <div class="counter__counters">
        <p class="heading--l">{{ counter_description }}</p>
        <p class="heading--3xl" style="">
          {% if counter_prefix != blank %}
            <span class="counter__container-aside-text">{{ counter_prefix }}</span>
          {% endif %}

          <span
            class="counter__counters-value"
            id="counter-{{ section_id }}-value-{{ forloop.index }}"
            data-initial="{{ counter_initial_value }}"
            data-final="{{ counter_final_value }}"
            data-duration="{{ counter_duration }}"
            >{{ counter_initial_value }}</span>
          {% if counter_suffix != blank %}
            <span class="counter__container-value">{{ counter_suffix }}</span>
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
</div>

<script
  src="{{ "section-counter.js" | asset_url }}"
  data-section-id="{{ section_id }}"
  defer
></script>

{% schema %}
{
  "name": "Counter",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Some text here"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "More text here"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "counter",
      "name": "Counter",
      "settings": [
        {
          "id": "counter_description",
          "label": "Counter Description",
          "type": "text",
          "default": "This counter goes from 0 to 100"
        },
        {
          "id": "counter_duration",
          "label": "Counter Duration (Seconds)",
          "type": "number",
          "default": 5
        },
        {
          "id": "counter_text_prefix",
          "label": "Text Before Counter Value",
          "type": "text",
        },
        {
          "type": "paragraph",
          "content": "This is used to add text before the counter's value. For example, if you wanted 'Up To 20% Off', this value would be 'Up To '."
        },
        {
          "id": "counter_text_suffix",
          "label": "Text After Counter Value",
          "type": "text",
        },
        {
          "type": "paragraph",
          "content": "This is used to add text before the counter's value. For example, if you wanted 'Up To 20% Off', this value would be '% Off"
        },
        {
          "id": "counter_initial_value",
          "label": "Initial Number",
          "type": "number",
          "default": 0
        },
        {
          "type": "paragraph",
          "content": "The initial number is where the counter starts at. If this value is left blank, it will be 10% of the final number"
        },
        {
          "id": "counter_final_value",
          "label": "Final Number",
          "type": "number",
          "default": 100
        },
        {
          "type": "paragraph",
          "content": "This is where the counter will finish"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Counter"
    }
  ]
}
{% endschema %}
