{% comment %}
  {% assign heading = section.settings.heading %}
  {% assign subheading = section.settings.subheading %}
{% endcomment %}

{% assign heading = 'Main Heading' %}
{% assign subheading = 'This is a subheading with more text' %}

<div>
  {% if heading != blank %}
    <h1>{{ heading }}</h1>
  {% endif %}

  {% if subheading != blank %}
    <p>{{ subheading }}</p>
  {% endif %}

  {% for counter in section.blocks %}
    {% comment %}
      {% assign counter_description = counter.settings.counter_description %}
      {% assign counter_value = counter.settings.counter_value %}
      {% assign counter_time_seconds = counter.settings.counter_time_seconds %}
    {% endcomment %}

    <div class="counter__container">
      <h1>{{ counter_description }}</h1>
      <p
        class="counter__container-value"
        data-from="0"
        data-to="100"
        data-animate-seconds="2"
        data-decimal-places="3"
      ></p>
      {% comment %}
        <p
          class="counter__container-value"
          data-from="0"
          data-to="{{ counter_value }}"
          data-animate-seconds="{{ counter_time_seconds }}"
        ></p>
      {% endcomment %}
    </div>
  {% endfor %}
</div>

<script
  src="{{ "section-counter.js" | asset_url }}"
  defer
></script>

{% schema %}
{
  "name": "Counter",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Some text here"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "More text here"
    }
  ],
  "blocks": [
    {
      "type": "counter",
      "name": "Counter",
      "settings": [
        {
          "id": "counter_description",
          "label": "Counter Description",
          "type": "text",
          "default": "This counter goes from 0 to 100"
        },
        {
          "id": "counter_time_seconds",
          "label": "Counter Time (Seconds)",
          "type": "number",
          "default": 5
        },
        {
          "id": "value",
          "label": "Value",
          "type": "number",
          "default": 100
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Counter"
    }
  ]
}
{% endschema %}
