{% comment %}
  {% assign heading = section.settings.heading %}
  {% assign subheading = section.settings.subheading %}
{% endcomment %}

{% assign heading = 'Main Heading' %}
{% assign subheading = 'This is a subheading with more text' %}
{% assign section_id = section.id %}

<div id="counter-{{ section_id }}">
  {% if heading != blank %}
    <h1>{{ heading }}</h1>
  {% endif %}

  {% if subheading != blank %}
    <p>{{ subheading }}</p>
  {% endif %}

  {% for counter in section.blocks %}
    {% assign counter_description = counter.settings.counter_description %}
    {% assign counter_value = counter.settings.value %}
    {% assign counter_duration = counter.settings.counter_duration %}
    {% assign counter_decimal_points = counter.settings.counter_decimal_points %}

    <div class="counter__container">
      <h1>{{ counter_description }}</h1>
      <p
        class="counter__container-value"
        id="counter-{{ section_id }}-{{ forloop.index }}"
        data-to="{{ counter_value }}"
        data-from="{{ 50 }}"
        data-duration="{{ counter_duration }}"
        data-decimal-points="{{ counter_decimal_points }}"
      >
        500
      </p>
    </div>
  {% endfor %}
  <p>test</p>
</div>

<script
  src="{{ "section-counter.js" | asset_url }}"
  data-section-id="{{ section_id }}"
  defer
></script>

{% schema %}
{
  "name": "Counter",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Some text here"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "More text here"
    }
  ],
  "blocks": [
    {
      "type": "counter",
      "name": "Counter",
      "settings": [
        {
          "id": "counter_description",
          "label": "Counter Description",
          "type": "text",
          "default": "This counter goes from 0 to 100"
        },
        {
          "id": "counter_duration",
          "label": "Counter Duration (Seconds)",
          "type": "number",
          "default": 5
        },
        {
          "id": "counter_decimal_points",
          "label": "Counter Decimal Points",
          "type": "number",
          "default": 2
        },
        {
          "id": "value",
          "label": "Value",
          "type": "number",
          "default": 100
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Counter"
    }
  ]
}
{% endschema %}
