{{ "section-counter.css" | asset_url | stylesheet_tag }}

{% assign heading = 'Main Heading' %}
{% assign subheading = 'This is a subheading with more text' %}
{% assign section_id = section.id %}

<div id="counter-{{ section_id }}">
  <div class="counter-container__header">
    {% if heading != blank %}
      <h3 class="heading--decorative">{{ heading }}</h3>
    {% endif %}
    {% if subheading != blank %}
      <p class="counter--container__header-subheading">{{ subheading }}</p>
    {% endif %}
  </div>

  <div class="counter__container">
    {% for counter in section.blocks %}
      {% assign counter_description = counter.settings.counter_description %}
      {% assign counter_duration = counter.settings.counter_duration %}
      {% assign counter_initial_value = counter.settings.counter_initial_value %}
      {% assign counter_final_value = counter.settings.counter_final_value %}
      {% assign counter_prefix = counter.settings.counter_prefix %}
      {% assign counter_suffix = counter.settings.counter_suffix %}

      <div class="counter__counters">
        <p class="heading--l">{{ counter_description }}</p>
        <p class="heading--3xl" style="">
          {% if counter_prefix != blank %}
            <span class="counter__container-aside-text">{{ counter_prefix }}</span>
          {% endif %}

          <span
            class="counter__container-value"
            id="counter-{{ section_id }}-{{ forloop.index }}"
            data-initial="{{ counter_initial_value }}"
            data-final="{{ counter_final_value }}"
            data-duration="{{ counter_duration }}"
          ></span>
          {% if counter_suffix != blank %}
            <span class="counter__container-value">{{ counter_suffix }}</span>
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
</div>

<script
  src="{{ "section-counter.js" | asset_url }}"
  data-section-id="{{ section_id }}"
  defer
></script>

{% schema %}
{
  "name": "Counter",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Some text here"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "More text here"
    }
  ],
  "blocks": [
    {
      "type": "counter",
      "name": "Counter",
      "settings": [
        {
          "id": "counter_description",
          "label": "Counter Description",
          "type": "text",
          "default": "This counter goes from 0 to 100"
        },
        {
          "id": "counter_duration",
          "label": "Counter Duration (Seconds)",
          "type": "number",
          "default": 5
        },
        {
          "id": "counter_text_prefix",
          "label": "Counter Text Prefix",
          "type": "text",
          "default": "Up to "
        },
        {
          "id": "counter_text_suffix",
          "label": "Counter Text Suffix",
          "type": "text",
          "default": "% Something"
        },
        {
          "id": "counter_initial_value",
          "label": "Initial Number",
          "type": "number",
          "default": 85
        },
        {
          "id": "counter_final_value",
          "label": "Final Number",
          "type": "number",
          "default": 100
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Counter"
    }
  ]
}
{% endschema %}
