{% comment %}
  Footer Section
{% endcomment %}

<style>
  .footer {
    background-color: var(--neutral-950);
    color: var(--white);
  }

  .footer__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer__section {
    padding: 0 var(--space-m);
    margin-bottom: var(--space-2xl);
  }

  .footer__intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xl);
    border-bottom: 1px solid var(--neutral-600);
    padding-bottom: var(--space-2xl);
    padding-top: var(--space-2xl);
  }

  .footer__store-locator {
    display: flex;
    flex-direction: column;
  }

  .footer__search-form {
    position: relative;
    display: flex;
    align-items: center;
  }

  .footer__search-input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--neutral-600);
    color: var(--white);
    padding: var(--space-s) var(--space-l) var(--space-s) 0;
  }

  .footer__search-input::placeholder {
    color: var(--neutral-600);
  }

  .footer__search-input:focus {
    outline: none;
  }

  .footer__search-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: var(--space-2xs);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__description--store-locator {
    margin-top: var(--space-s);
  }

  .footer__heading {
    text-transform: uppercase;
    margin-bottom: var(--space-s);
  }

  .footer__description {
    max-width: 80ch;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    list-style: none;
  }

  .footer__link {
    color: var(--white);
    text-decoration: none;
  }

  .footer__link:hover {
    text-decoration: underline;
  }

  .footer__partnerships {
    display: flex;
    align-items: center;
    gap: var(--space-m);
    margin-bottom: var(--space-l);
  }

  .footer__heading--partnerships {
    margin-bottom: 0px;
  }

  .footer__logo-box {
    width: var(--space-3xl);
    overflow: hidden;
  }

  .footer__logo-box > img {
    width: 100%;
  }

  .footer__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-m);
    border-top: 1px solid var(--neutral-600);
  }

  .footer__social {
    display: flex;
    gap: var(--space-s);
  }

  .footer__social-icon {
    max-width: 17px;
  }

  .footer__terms {
    display: flex;
    gap: var(--space-l);
  }

  @media (max-width: 1024px) {
    .footer__main {
      grid-template-columns: 1fr !important;
      gap: 0px;
    }

    .footer__section {
      margin-bottom: var(--space-2xl);
    }

    .footer__intro {
      grid-template-columns: 1fr;
      gap: var(--space-l);
      padding-bottom: var(--space-2xl);
    }

    .footer__partnerships {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0px !important;
    }

    .footer__bottom {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-s);
    }

    .footer__terms {
      gap: var(--space-xs);
    }
  }
</style>

<footer class="footer">
  <div class="footer__section footer__intro">
    <div class="footer__intro-content">
      <h2 class="footer__heading footer__heading--intro heading--xl">{{ section.settings.intro_heading }}</h2>
      <p class="footer__description footer__description--intro body">{{ section.settings.intro_text }}</p>
    </div>

    <div class="footer__store-locator">
      <h2 class="footer__heading footer__heading--store-locator heading--l">
        {{ section.settings.store_locator_heading }}
      </h2>
      <form class="footer__search-form" action="/pages/stores-in-australia" method="get">
        <input
          type="text"
          name="search"
          class="footer__search-input"
          placeholder="{{ section.settings.store_locator_placeholder }}"
        >
        <button type="submit" class="footer__search-button" aria-label="Search Peter Jackson Stores">
          {% render '_icon-arrow-submit-white' %}
        </button>
      </form>
      <p class="footer__description footer__description--store-locator body">
        {{ section.settings.store_locator_description }}
      </p>
    </div>
  </div>

  <div class="footer__main">
    <div class="footer__section footer__section--menu">
      <h2 class="footer__heading footer__heading--menu heading--l">{{ section.settings.menu_heading }}</h2>
      <ul class="footer__list footer__list--menu">
        {% for link in linklists[section.settings.footer_menu].links %}
          <li class="footer__list-item footer__list-item--menu">
            <a href="{{ link.url }}" class="footer__link footer__link--menu body">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="footer__section footer__section--support">
      <h2 class="footer__heading footer__heading--support heading--l">{{ section.settings.support_heading }}</h2>
      <ul class="footer__list footer__list--support">
        {% for link in linklists[section.settings.footer_support_menu].links %}
          <li class="footer__list-item footer__list-item--support">
            <a href="{{ link.url }}" class="footer__link footer__link--support body">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="footer__section footer__section--partnerships">
      {% if section.settings.show_partnerships %}
        <div class="footer__partnerships">
          {% if section.settings.partnerships_image != blank %}
            <div class="footer__logo-box footer__logo-box--partnerships">
              {{
                section.settings.partnerships_image
                | image_url: width: 50
                | image_tag: loading: 'lazy', alt: section.settings.partnerships_heading, class: 'footer__logo-img'
              }}
            </div>
          {% else %}
            <div class="footer__logo-box footer__logo-box--partnerships"></div>
          {% endif %}
          <div class="footer__info footer__info--partnerships">
            <h2 class="footer__heading footer__heading--partnerships heading--l">
              {{ section.settings.partnerships_heading }}
            </h2>
            <p class="footer__description footer__description--partnerships body">
              {{ section.settings.partnerships_text }}
            </p>
            {% if section.settings.partnerships_link != blank and section.settings.partnerships_link_text != blank %}
              <a href="{{ section.settings.partnerships_link }}" class="footer__link footer__link--partnerships body">
                {{- section.settings.partnerships_link_text }}
                <span class="footer__link-arrow" aria-hidden="true">→</span></a
              >
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__brand">
      {% if section.settings.footer_logo != blank %}
        {{
          section.settings.footer_logo
          | image_url: width: 140
          | image_tag: loading: 'lazy', alt: shop.name, class: 'footer__brand-logo'
        }}
      {% else %}
        <svg
          class="footer__brand-placeholder"
          width="140"
          height="30"
          viewBox="0 0 140 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="140" height="30" fill="#777"/>
        </svg>
      {% endif %}
    </div>

    <div class="footer__social">
      {% if section.settings.social_icon_1 != blank and section.settings.social_link_1 != blank %}
        <a href="{{ section.settings.social_link_1 }}" target="_blank">
          {{
            section.settings.social_icon_1
            | image_url: width: 34
            | image_tag: class: 'footer__social-icon', loading: 'lazy', decoding: 'async'
          }}
        </a>
      {% endif %}
      {% if section.settings.social_icon_2 != blank and section.settings.social_link_2 != blank %}
        <a href="{{ section.settings.social_link_2 }}" target="_blank">
          {{
            section.settings.social_icon_2
            | image_url: width: 34
            | image_tag: class: 'footer__social-icon', loading: 'lazy', decoding: 'async'
          }}
        </a>
      {% endif %}
      {% if section.settings.social_icon_3 != blank and section.settings.social_link_3 != blank %}
        <a href="{{ section.settings.social_link_3 }}" target="_blank">
          {{
            section.settings.social_icon_3
            | image_url: width: 34
            | image_tag: class: 'footer__social-icon', loading: 'lazy', decoding: 'async'
          }}
        </a>
      {% endif %}
    </div>

    <div class="footer__terms">
      {% if section.settings.terms_link != blank %}
        <a href="{{ section.settings.terms_link }}" class="footer__link footer__link--terms body">
          {{- section.settings.terms_text -}}
        </a>
      {% endif %}
      {% if section.settings.privacy_link != blank %}
        <a href="{{ section.settings.privacy_link }}" class="footer__link footer__link--privacy body">
          {{- section.settings.privacy_text -}}
        </a>
      {% endif %}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Features Section"
    },
    {
      "type": "text",
      "id": "feature_1_title",
      "label": "Feature 1 Title",
      "default": "Free Shipping"
    },
    {
      "type": "textarea",
      "id": "feature_1_description",
      "label": "Feature 1 Description",
      "default": "Get complimentary standard shipping when you spend $99 or more"
    },
    {
      "type": "url",
      "id": "feature_1_link",
      "label": "Feature 1 Link"
    },
    {
      "type": "text",
      "id": "feature_1_link_text",
      "label": "Feature 1 Link Text",
      "default": "Learn More"
    },
    {
      "type": "text",
      "id": "feature_2_title",
      "label": "Feature 2 Title",
      "default": "Returns"
    },
    {
      "type": "textarea",
      "id": "feature_2_description",
      "label": "Feature 2 Description",
      "default": "Purchase with peace of mind - all items can be returned or exchanged"
    },
    {
      "type": "url",
      "id": "feature_2_link",
      "label": "Feature 2 Link"
    },
    {
      "type": "text",
      "id": "feature_2_link_text",
      "label": "Feature 2 Link Text",
      "default": "Learn More"
    },
    {
      "type": "text",
      "id": "feature_3_title",
      "label": "Feature 3 Title",
      "default": "Made to Measure"
    },
    {
      "type": "textarea",
      "id": "feature_3_description",
      "label": "Feature 3 Description",
      "default": "Your Style. Your Suit. Crafted for who you are and where you're going."
    },
    {
      "type": "url",
      "id": "feature_3_link",
      "label": "Feature 3 Link"
    },
    {
      "type": "text",
      "id": "feature_3_link_text",
      "label": "Feature 3 Link Text",
      "default": "Learn More"
    },
    {
      "type": "text",
      "id": "feature_4_title",
      "label": "Feature 4 Title",
      "default": "Click & Collect"
    },
    {
      "type": "textarea",
      "id": "feature_4_description",
      "label": "Feature 4 Description",
      "default": "Tailored convenience. Browse and buy online then pick up in store."
    },
    {
      "type": "url",
      "id": "feature_4_link",
      "label": "Feature 4 Link"
    },
    {
      "type": "text",
      "id": "feature_4_link_text",
      "label": "Feature 4 Link Text",
      "default": "Learn More"
    },
    {
      "type": "header",
      "content": "Intro Section"
    },
    {
      "type": "text",
      "id": "intro_heading",
      "label": "Heading",
      "default": "Peter Jackson"
    },
    {
      "type": "textarea",
      "id": "intro_text",
      "label": "Text",
      "default": "We acknowledge this country's First Nations peoples and their ongoing strength in practising the world's oldest living culture. We acknowledge the Traditional Owners of the lands and waters on which we live and work, and pay our respect to their Elders past, present and emerging."
    },
    {
      "type": "header",
      "content": "Store Locator"
    },
    {
      "type": "text",
      "id": "store_locator_heading",
      "label": "Store Locator Heading",
      "default": "Store Locator"
    },
    {
      "type": "text",
      "id": "store_locator_placeholder",
      "label": "Search Placeholder",
      "default": "Search by name, address or state"
    },
    {
      "type": "textarea",
      "id": "store_locator_description",
      "label": "Store Locator Description",
      "default": "Find your closest store from our extensive network of retailers"
    },
    {
      "type": "header",
      "content": "Navigation Menus"
    },
    {
      "type": "text",
      "id": "menu_heading",
      "label": "Menu Heading",
      "default": "PETER JACKSON"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer Menu"
    },
    {
      "type": "text",
      "id": "support_heading",
      "label": "Support Heading",
      "default": "SUPPORT"
    },
    {
      "type": "link_list",
      "id": "footer_support_menu",
      "label": "Support Menu"
    },
    {
      "type": "header",
      "content": "Partnerships Section"
    },
    {
      "type": "checkbox",
      "id": "show_partnerships",
      "label": "Show Partnerships Section",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "partnerships_image",
      "label": "Partnership Logo"
    },
    {
      "type": "text",
      "id": "partnerships_heading",
      "label": "Partnership Heading",
      "default": "THE BLUE SHIRT INITIATIVE"
    },
    {
      "type": "textarea",
      "id": "partnerships_text",
      "label": "Partnership Text",
      "default": "$10 of every blue shirt sold goes directly to Beyond Blue's Support Service."
    },
    {
      "type": "url",
      "id": "partnerships_link",
      "label": "Partnership Link"
    },
    {
      "type": "text",
      "id": "partnerships_link_text",
      "label": "Partnership Link Text",
      "default": "Learn More"
    },
    {
      "type": "header",
      "content": "Footer Bottom"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "url",
      "id": "terms_link",
      "label": "Terms & Conditions Link"
    },
    {
      "type": "text",
      "id": "terms_text",
      "label": "Terms & Conditions Text",
      "default": "Terms & Conditions"
    },
    {
      "type": "url",
      "id": "privacy_link",
      "label": "Privacy Policy Link"
    },
    {
      "type": "text",
      "id": "privacy_text",
      "label": "Privacy Policy Text",
      "default": "Privacy Policy"
    },
    {
      "type": "header",
      "content": "Social Media"
    },
    {
      "type": "image_picker",
      "id": "social_icon_1",
      "label": "Social Icon 1"
    },
    {
      "type": "url",
      "id": "social_link_1",
      "label": "Social Link 1"
    },
    {
      "type": "image_picker",
      "id": "social_icon_2",
      "label": "Social Icon 2"
    },
    {
      "type": "url",
      "id": "social_link_2",
      "label": "Social Link 2"
    },
    {
      "type": "image_picker",
      "id": "social_icon_3",
      "label": "Social Icon 3"
    },
    {
      "type": "url",
      "id": "social_link_3",
      "label": "Social Link 3"
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "category": "Footer"
    }
  ],
  "enabled_on": {
    "groups": ["footer"]
  }
}
{% endschema %}
