{{ 'section-footer.css' | asset_url | stylesheet_tag }}

{% assign footer_logo = section.settings.footer_logo %}
{% assign intro_text = section.settings.intro_text %}
{% assign store_locator_heading = section.settings.store_locator_heading %}
{% assign store_locator_placeholder = section.settings.store_locator_placeholder %}
{% assign store_locator_description = section.settings.store_locator_description %}
{% assign menu_heading = section.settings.menu_heading %}
{% assign footer_menu = section.settings.footer_menu %}
{% assign support_heading = section.settings.support_heading %}
{% assign footer_support_menu = section.settings.footer_support_menu %}
{% assign show_partnerships = section.settings.show_partnerships %}
{% assign partnerships_image = section.settings.partnerships_image %}
{% assign partnerships_heading = section.settings.partnerships_heading %}
{% assign partnerships_text = section.settings.partnerships_text %}
{% assign partnerships_link = section.settings.partnerships_link %}
{% assign partnerships_link_text = section.settings.partnerships_link_text %}
{% assign social_icon_1 = section.settings.social_icon_1 %}
{% assign social_link_1 = section.settings.social_link_1 %}
{% assign social_icon_2 = section.settings.social_icon_2 %}
{% assign social_link_2 = section.settings.social_link_2 %}
{% assign social_icon_3 = section.settings.social_icon_3 %}
{% assign social_link_3 = section.settings.social_link_3 %}
{% assign terms_link = section.settings.terms_link %}
{% assign terms_text = section.settings.terms_text %}
{% assign privacy_link = section.settings.privacy_link %}
{% assign privacy_text = section.settings.privacy_text %}

<footer class="footer">
  <div class="footer__section footer__intro">
    <div>
      <div class="footer__brand">
        {% if footer_logo != blank %}
          {{ footer_logo | image_url: width: 140 | image_tag: loading: 'lazy', alt: shop.name }}
        {% else %}
          <svg
            width="140"
            height="30"
            viewBox="0 0 140 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="140" height="30" fill="#777"/>
          </svg>
        {% endif %}
      </div>
      <p class="footer__description body">{{ intro_text }}</p>
    </div>

    <div class="footer__store-locator">
      <h2 class="footer__heading heading--l">
        {{ store_locator_heading }}
      </h2>
      <form class="footer__search-form" action="/pages/stores-in-australia" method="get">
        <input
          type="text"
          name="search"
          class="footer__search-input"
          placeholder="{{ store_locator_placeholder }}"
        >
        <button type="submit" class="footer__search-button" aria-label="Search Peter Jackson Stores">
          {% render '_icon-arrow-submit-white' %}
        </button>
      </form>
      <p class="footer__description footer__description--store-locator body">
        {{ store_locator_description }}
      </p>
    </div>
  </div>

  <div class="footer__main">
    <div style="display: flex;">
      <div class="footer__section">
        <h2 class="footer__heading footer__heading--menu heading--l">{{ menu_heading }}</h2>
        <ul class="footer__list">
          {% for link in linklists[footer_menu].links %}
            <li>
              <a href="{{ link.url }}" class="footer__link body">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer__section">
        <h2 class="footer__heading footer__heading--menu heading--l">
          {{ support_heading }}
        </h2>
        <ul class="footer__list">
          {% for link in linklists[footer_support_menu].links %}
            <li>
              <a href="{{ link.url }}" class="footer__link body">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="footer__section">
      {% if show_partnerships %}
        <div class="footer__partnerships">
          {% if partnerships_image != blank %}
            <div class="footer__logo-box">
              {{ partnerships_image | image_url: width: 50 | image_tag: loading: 'lazy', alt: partnerships_heading }}
            </div>
          {% else %}
            <div class="footer__logo-box"></div>
          {% endif %}
          <div class="footer__info">
            <h2 class="footer__heading footer__heading--partnerships heading--l">
              {{ partnerships_heading }}
            </h2>
            <p class="footer__description body">
              {{ partnerships_text }}
            </p>
            {% if partnerships_link != blank and partnerships_link_text != blank %}
              <a href="{{ partnerships_link }}" class="footer__link body">
                {{- partnerships_link_text }}
                <span aria-hidden="true">→</span></a
              >
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__social">
      {% if social_icon_1 != blank and social_link_1 != blank %}
        <a href="{{ social_link_1 }}" target="_blank">
          {{
            social_icon_1
            | image_url: width: 34
            | image_tag: class: 'footer__social-icon', loading: 'lazy', decoding: 'async'
          }}
        </a>
      {% endif %}
      {% if social_icon_2 != blank and social_link_2 != blank %}
        <a href="{{ social_link_2 }}" target="_blank">
          {{
            social_icon_2
            | image_url: width: 34
            | image_tag: class: 'footer__social-icon', loading: 'lazy', decoding: 'async'
          }}
        </a>
      {% endif %}
      {% if social_icon_3 != blank and social_link_3 != blank %}
        <a href="{{ social_link_3 }}" target="_blank">
          {{
            social_icon_3
            | image_url: width: 34
            | image_tag: class: 'footer__social-icon', loading: 'lazy', decoding: 'async'
          }}
        </a>
      {% endif %}
    </div>
    
    <div class="footer__currency_selector">
        <localization-form>
          {% form 'localization' %}
            <div class="disclosure">
              <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="localization-country-list" id="localization-popup-button">
                <div class="disclosure__button-img">
                  <span class="disclosure__button-img-text body">{{ localization.country | image_url: height: 18 | image_tag }} {{  localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }}) {% render '_icon-arrow-up' %}</span>
                </div>
              </button>
              
              <ul id="localization-country-list" role="list" class="disclosure__list custom-scrollbar" hidden>
                {% for country in localization.available_countries %}
                  <li class="disclosure__list-item" tabindex="-1">
                    <a class="disclosure__list-item-link" {% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                      <span class="disclosure__list-item-text" >{{ country | image_url: width: 24 | image_tag: style: "border: 1px solid var(--neutral-50);"}} {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
              
              <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}" />
            </div>
          {% endform %}
        </localization-form>
    </div>

    <div class="footer__terms">
      {% if terms_link != blank %}
        <a href="{{ terms_link }}" class="footer__link body">
          {{- terms_text -}}
        </a>
      {% endif %}
      {% if privacy_link != blank %}
        <a href="{{ privacy_link }}" class="footer__link body">
          {{- privacy_text -}}
        </a>
      {% endif %}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Features Section"
    },
    {
      "type": "header",
      "content": "Intro Section"
    },
    {
      "type": "textarea",
      "id": "intro_text",
      "label": "Text",
      "default": "We acknowledge this country's First Nations peoples and their ongoing strength in practising the world's oldest living culture. We acknowledge the Traditional Owners of the lands and waters on which we live and work, and pay our respect to their Elders past, present and emerging."
    },
    {
      "type": "header",
      "content": "Store Locator"
    },
    {
      "type": "text",
      "id": "store_locator_heading",
      "label": "Store Locator Heading",
      "default": "Store Locator"
    },
    {
      "type": "text",
      "id": "store_locator_placeholder",
      "label": "Search Placeholder",
      "default": "Search by name, address or state"
    },
    {
      "type": "textarea",
      "id": "store_locator_description",
      "label": "Store Locator Description",
      "default": "Find your closest store from our extensive network of retailers"
    },
    {
      "type": "header",
      "content": "Navigation Menus"
    },
    {
      "type": "text",
      "id": "menu_heading",
      "label": "Menu Heading",
      "default": "PETER JACKSON"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer Menu"
    },
    {
      "type": "text",
      "id": "support_heading",
      "label": "Support Heading",
      "default": "SUPPORT"
    },
    {
      "type": "link_list",
      "id": "footer_support_menu",
      "label": "Support Menu"
    },
    {
      "type": "header",
      "content": "Partnerships Section"
    },
    {
      "type": "checkbox",
      "id": "show_partnerships",
      "label": "Show Partnerships Section",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "partnerships_image",
      "label": "Partnership Logo"
    },
    {
      "type": "text",
      "id": "partnerships_heading",
      "label": "Partnership Heading",
      "default": "THE BLUE SHIRT INITIATIVE"
    },
    {
      "type": "textarea",
      "id": "partnerships_text",
      "label": "Partnership Text",
      "default": "$10 of every blue shirt sold goes directly to Beyond Blue's Support Service."
    },
    {
      "type": "url",
      "id": "partnerships_link",
      "label": "Partnership Link"
    },
    {
      "type": "text",
      "id": "partnerships_link_text",
      "label": "Partnership Link Text",
      "default": "Learn More"
    },
    {
      "type": "header",
      "content": "Footer Bottom"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "url",
      "id": "terms_link",
      "label": "Terms & Conditions Link"
    },
    {
      "type": "text",
      "id": "terms_text",
      "label": "Terms & Conditions Text",
      "default": "Terms & Conditions"
    },
    {
      "type": "url",
      "id": "privacy_link",
      "label": "Privacy Policy Link"
    },
    {
      "type": "text",
      "id": "privacy_text",
      "label": "Privacy Policy Text",
      "default": "Privacy Policy"
    },
    {
      "type": "header",
      "content": "Social Media"
    },
    {
      "type": "image_picker",
      "id": "social_icon_1",
      "label": "Social Icon 1"
    },
    {
      "type": "url",
      "id": "social_link_1",
      "label": "Social Link 1"
    },
    {
      "type": "image_picker",
      "id": "social_icon_2",
      "label": "Social Icon 2"
    },
    {
      "type": "url",
      "id": "social_link_2",
      "label": "Social Link 2"
    },
    {
      "type": "image_picker",
      "id": "social_icon_3",
      "label": "Social Icon 3"
    },
    {
      "type": "url",
      "id": "social_link_3",
      "label": "Social Link 3"
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "category": "Footer"
    }
  ],
  "enabled_on": {
    "groups": ["footer"]
  }
}
{% endschema %}

<script src="{{ "section-footer.js" |  asset_url }}" defer></script>