{{ 'section-grid-tiles.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign grid_columns = section.settings.grid_columns
-%}

<section class="grid-tiles section-wrap">
  <div class="container">
    <div class="grid-tiles__grid" data-columns="{{ grid_columns }}">
      {%- for block in section.blocks -%}
        {%- liquid
          assign tile_header = block.settings.tile_header
          assign tile_secondary_text = block.settings.tile_secondary_text
          assign tile_link = block.settings.tile_link
          assign tile_background_image = block.settings.tile_background_image
        -%}

        {%- if tile_link != blank -%}
          <a
            href="{{ tile_link }}"
            class="grid-tiles__tile"
            {{ block.shopify_attributes }}
            {% if tile_background_image != blank %}
              style="background-image: url('{{ tile_background_image | image_url: width: 1440 }}');"
            {% endif %}
          >
            {%- if tile_header != blank -%}
              <h3 class="grid-tiles__tile-header heading--optispire">{{ tile_header }}</h3>
            {%- endif -%}
            {%- if tile_secondary_text != blank -%}
              <p class="grid-tiles__tile-text heading--l">
                {{ tile_secondary_text }}
                <span>{% render '_icon-arrow-submit-white' %}</span>
              </p>
            {%- endif -%}
          </a>
        {%- else -%}
          <div
            class="grid-tiles__tile"
            {{ block.shopify_attributes }}
            {% if tile_background_image != blank %}
              style="background-image: url('{{ tile_background_image | image_url: width: 1440 }}');"
            {% endif %}
          >
            {%- if tile_header != blank -%}
              <h3 class="grid-tiles__tile-header heading--optispire">{{ tile_header }}</h3>
            {%- endif -%}
            {%- if tile_secondary_text != blank -%}
              <p class="grid-tiles__tile-text heading--l">
                {{ tile_secondary_text }}
                <span>{% render '_icon-arrow-submit-white' %}</span>
              </p>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Grid Tiles",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "grid_columns",
      "label": "Grid columns",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        },
        {
          "value": "3",
          "label": "3 columns"
        },
        {
          "value": "4",
          "label": "4 columns"
        },
        {
          "value": "5",
          "label": "5 columns"
        },
        {
          "value": "6",
          "label": "6 columns"
        },
        {
          "value": "auto",
          "label": "Auto"
        }
      ],
      "default": "3"
    }
  ],
  "blocks": [
    {
      "type": "tile",
      "name": "Tile",
      "settings": [
        {
          "type": "image_picker",
          "id": "tile_background_image",
          "label": "Background image"
        },
        {
          "type": "text",
          "id": "tile_header",
          "label": "Header",
          "default": "Tile Header"
        },
        {
          "type": "text",
          "id": "tile_secondary_text",
          "label": "Secondary text",
          "default": "Add some descriptive text here"
        },
        {
          "type": "url",
          "id": "tile_link",
          "label": "Link"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [
    {
      "name": "Grid Tiles",
      "blocks": [
        {
          "type": "tile"
        },
        {
          "type": "tile"
        },
        {
          "type": "tile"
        }
      ]
    }
  ]
}
{% endschema %}
