{{ 'section-image-with-text.css' | asset_url | stylesheet_tag }}

{% assign section_id = section.id %}
{% assign alignment = section.settings.alignment %}
{% assign full_width = section.settings.full_width %}
{% assign show_top_border = section.settings.show_top_border %}
{% assign show_bottom_border = section.settings.show_bottom_border %}

{% assign animate_images = section.settings.animate_images %}
{% assign anchor_id = section.settings.anchor_id %}
{% assign first_image = section.settings.first_image %}
{% assign second_image = section.settings.second_image %}
{% assign image_link = section.settings.image_link %}

{% assign heading = section.settings.heading %}
{% assign heading_animation = section.settings.heading_animation %}
{% assign text = section.settings.text %}
{% assign text_animation = section.settings.text_animation %}
{% assign button_label = section.settings.button_label %}
{% assign button_link = section.settings.button_link %}

<div
  id="image-with-text-{{ section_id }}"
  class="image-with-text"
  aria-label="Image with text section"
  style="
    {% if show_top_border %}border-top: 1px solid var(--neutral-50);{% endif %}
    {% if show_bottom_border %}border-bottom: 1px solid var(--neutral-50);{% endif %}
  "
>
  <div
    class="image-with-text__container {% if alignment == 'right' %}image-with-text__container--right{% endif %}"
    style="{% if full_width %} max-width: 100%; {% endif %}"
  >
    <figure
      class="image-with-text__media-container {% if animate_images %}animate-container-cards-scroll{% endif %}"
      {% if anchor_id != blank %}
        id="{{ anchor_id | downcase | replace: ' ', '-' }}-segment"
      {% endif %}
    >
      <div
        class="image-with-text__images-wrapper"
        style="{% if full_width %} aspect-ratio: auto; padding-bottom: 0px; padding-right: 0px; {% endif %}"
      >
        {% if first_image != blank %}
          <div
            class="image-with-text__image-container {% if second_image != blank %}image-with-text__image-container--first{% endif %}"
            style="{% if full_width %} position: static; {% endif %}"
          >
            {% if image_link != blank %}
              <a href="{{ image_link }}">
            {% endif %}
            {{
              first_image
              | image_url: width: 600
              | image_tag: class: 'image-with-text__image', alt: first_image.alt
              | default: heading,
                loading: 'lazy',
                decoding: 'async',
                widths: '300, 400, 500, 600, 700, 800, 1000, 1200',
                sizes: '(max-width: 768px) 100vw, 50vw'
            }}
            {% if image_link != blank %}
              </a>
            {% endif %}
          </div>
        {% endif %}

        {% if second_image != blank %}
          <div class="image-with-text__image-container image-with-text__image-container--second">
            {{
              second_image
              | image_url: width: 600
              | image_tag: class: 'image-with-text__image', alt: second_image.alt
              | default: heading,
                loading: 'lazy',
                decoding: 'async',
                widths: '300, 400, 500, 600, 700, 800, 1000, 1200',
                sizes: '(max-width: 768px) 100vw, 50vw'
            }}
          </div>
        {% endif %}
      </div>
    </figure>

    <div class="image-with-text__content" style="{% if full_width %} padding-left: 0px; {% endif %}">
      {% if heading != blank %}
        <h2 class="image-with-text__title heading--2xl {% if heading_animation != 'none' %}{{ heading_animation }}{% endif %}">
          {{ heading }}
        </h2>
      {% endif %}

      {% if text != blank %}
        <div class="image-with-text__text body {% if text_animation != 'none' %}{{ text_animation }}{% endif %}">
          {{ text }}
        </div>
      {% endif %}

      {% if button_label != blank and button_link != blank %}
        <a href="{{ button_link }}" class="image-with-text__button body">
          {{ image-with-text__buttonbutton_label }}
          {% render '_icon-arrow-submit-dark' %}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image With Text",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "anchor_id",
      "label": "Anchor ID (lowercase with hyphens)",
      "info": "Example: history or about-us"
    },
    {
      "type": "checkbox",
      "id": "show_top_border",
      "label": "Show top border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "Show bottom border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section full-width",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "first_image",
      "label": "First Image"
    },
    {
      "type": "url",
      "id": "image_link",
      "label": "Image Link",
      "info": "Add a link to make the main image clickable"
    },
    {
      "type": "image_picker",
      "id": "second_image",
      "label": "Second Image (Optional)",
      "info": "Will appear behind the first image with a slight offset"
    },
    {
      "type": "checkbox",
      "id": "animate_images",
      "label": "Animate Images",
      "default": false,
      "info": "Adds an animation to the images as they scroll into view"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Section Alignment",
      "options": [
        {
          "value": "left",
          "label": "Image on left"
        },
        {
          "value": "right",
          "label": "Image on right"
        }
      ],
      "default": "left"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "select",
      "id": "heading_animation",
      "label": "Heading Animation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "animate-word-slide-up-scroll",
          "label": "Slide Up Words"
        },
        {
          "value": "animate-word-rotate-scroll",
          "label": "Rotate In Words"
        },
        {
          "value": "animate-paragraph-slide-up-scroll",
          "label": "Slide Up"
        }
      ],
      "default": "none"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review."
    },
    {
      "type": "select",
      "id": "text_animation",
      "label": "Text Animation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "animate-word-slide-up-scroll",
          "label": "Slide Up Words"
        },
        {
          "value": "animate-word-rotate-scroll",
          "label": "Rotate In Words"
        },
        {
          "value": "animate-paragraph-slide-up-scroll",
          "label": "Slide Up"
        }
      ],
      "default": "none"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Image With Text",
      "category": "Image",
      "settings": {
        "alignment": "left",
        "heading": "Image With Text",
        "text": "Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.",
        "button_label": "Learn More"
      }
    }
  ],
  "enabled_on": {
    "templates": ["index", "page", "article", "blog"]
  }
}
{% endschema %}
