<style>
  #site-header {
    border-bottom: 1px solid var(--neutral-200);
  }

  .article-header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: var(--space-2xl) var(--space-m);
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  .article-header__collection {
    color: var(--neutral-950);
  }

  .article-header__tag {
    color: var(--neutral-600);
  }

  .article-header__divider,
  .article-content hr {
    border: 0;
    height: 1px;
    background-color: var(--neutral-200);
    margin: 0 auto;
    width: 75%;
  }

  .article-header__title {
    color: var(--neutral-950);
  }

  .article-header__excerpt {
    color: var(--neutral-600);
  }

  .article-header__meta {
    color: var(--neutral-600);
  }

  .article-header__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  .article-content {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: calc(var(--space-2xl) - var(--space-m));
  }

  .article-content > * {
    margin-bottom: var(--space-m) !important;
  }

  .article-content p,
  .article-content ul,
  .article-content ol,
  .article-content a {
    color: var(--neutral-600);
  }

  .article-content strong {
    color: var(--neutral-950);
    font-family: 'Ordinary Regular';
    font-weight: 500;
  }

  .article-content h1,
  .article-content h2,
  .article-content h3,
  .article-content h4,
  .article-content h5,
  .article-content h6 {
    color: var(--neutral-950);
  }

  .article-content blockquote > *:first-of-type {
    margin-bottom: var(--space-xs);
  }
</style>

{% liquid
  assign image_width = 800
  assign image_height = image_width | divided_by: article.image.aspect_ratio | ceil
%}

<section id="{{ section.id }}" class="section-wrap">
  <article class="section">
    <header class="article-header">
      <div class="article-header__collection">
        <h2 class="heading--decorative">{{ blog.title }}</h2>
      </div>

      {% if article.tags.size > 0 %}
        <div class="article-header__tags">
          <p class="small">
            {% for tag in article.tags %}
              <a href="{{ blog.url }}/tagged/{{ tag | handleize }}" class="article-header__tag body--uppercase">
                {{- tag -}}
              </a>
              {%- unless forloop.last %}, {% endunless %}
            {% endfor %}
          </p>
        </div>
      {% endif %}

      <hr class="article-header__divider">

      <h1 class="article-header__title heading--2xl">{{ article.title }}</h1>

      {% if article.excerpt != blank %}
        <div class="article-header__excerpt body">
          {{ article.excerpt }}
        </div>
      {% endif %}

      <div class="article-header__meta">
        <p class="small">{{ article.published_at | date: '%b %d, %Y' }}</p>
      </div>

      {% if article.image %}
        <div class="article-header__image">
          <img
            src="{{ article.image | image_url: width: image_width }}"
            width="{{ image_width }}"
            height="{{ image_height }}"
            alt="{{ article.title | escape }}"
            loading="lazy"
          >
        </div>
      {% endif %}
    </header>
    <div class="article-content">
      {{ article.content }}
    </div>
  </article>
</section>

{% schema %}
{
  "name": "Article",
  "tag": "section",
  "class": "section"
}
{% endschema %}
