{% comment %}
  Get the first available variant
{% endcomment %}
{% assign current_variant = product.selected_or_first_available_variant %}

<script>
  var current_variant = {{ current_variant | json }};
  var variants = {{ product.variants | json }};
  var default_image = {{ product.featured_image.id | default: 'null' }};
</script>

<div class="section-wrap">
  <div id="product">
    <div>
      <div>
        <div>
          <div data-images="{{ product.images.size }}">
            <div>
              <div>
                {% assign image_width = 1024 %}
                {% if product.images.size == 0 %}
                  {{ 'collection-4' | placeholder_svg_tag: 'placeholder' }}
                {% endif %}
                {% for image in product.images %}
                  {% assign image_height = image_width | divided_by: image.aspect_ratio | ceil %}
                  <div data-imageid="{{ image.id }}">
                    <img
                      src="{{ image.src | image_url: width: image_width }}"
                      width="{{ image_width }}"
                      height="{{ image_height }}"
                      alt="{{ image.alt }}"
                      loading="lazy"
                    >
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="product-details">
      <h1 data-title="{{ product.title }}">{{ product.title }}</h1>

      <p>
        Product Code:
        <span class="js--variant-sku">{{ current_variant.sku }}</span>
      </p>

      <p class="rte">
        {{ product.description }}
      </p>

      {% comment %}
        Variant selector.
      {% endcomment %}
      <div>
        <form action="{{ routes.cart_add_url }}" method="post">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when '@app' -%}
                {% render block %}

              {%- when 'prices' -%}
                <p>
                  <strike class="js--variant-compareatprice">
                    {%- if current_variant.compare_at_price > current_variant.price -%}
                      {{- current_variant.compare_at_price | money -}}
                    {%- endif -%}
                  </strike>
                  <strong class="js--variant-price">
                    {{ current_variant.price | money }}
                  </strong>
                </p>

              {%- when 'options' %}
                {% unless product.has_only_default_variant %}
                  {% for option_group in product.options_with_values %}
                    {% assign option_field = option_group.position | prepend: 'option' %}
                    <div>
                      <fieldset class="variant-options js--variant-options">
                        <legend>{{ option_group.name | prepend: 'Select ' }}</legend>
                        {% for value in option_group.values %}
                          {% capture option_id %}{{ option_group.name }}_{{ value }}{% endcapture %}
                          <div class="variant-option">
                            <input
                              type="radio"
                              id="{{ option_id | handleize }}"
                              class="js--variant-option"
                              name="{{ option_group.position | prepend: 'option'}}"
                              value="{{ value }}"
                              {% if current_variant[option_field] == value %}
                                checked
                              {% endif %}
                            >
                            <label for="{{ option_id | handleize }}">
                              {{- value -}}
                            </label>
                          </div>
                        {% endfor %}
                      </fieldset>
                    </div>
                  {% endfor %}
                {% endunless %}

              {%- when 'button' -%}
                <div>
                  <input
                    type="hidden"
                    id="js--variant-id"
                    name="id"
                    value="{{ current_variant.id }}"
                  >
                  {% if current_variant.available == true %}
                    <button type="submit" id="js--addtocart">
                      {{ block.settings.button_label }}
                    </button>
                  {% else %}
                    <button type="submit" id="js--addtocart" disabled>Unavailable</button>
                  {% endif %}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </form>
      </div>
    </section>
  </div>
</div>

{% schema %}
{
  "name": "Product Page",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "options",
      "name": "Product options",
      "limit": 1,
      "settings": []
    },
    {
      "type": "prices",
      "name": "Prices",
      "settings": []
    },
    {
      "type": "button",
      "name": "Add to cart",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Add to cart"
        }
      ]
    }
  ]
}
{% endschema %}
