{{ 'section-main-article.css' | asset_url | stylesheet_tag }}

{% assign image_width = 800 %}
{% assign image_height = image_width | divided_by: article.image.aspect_ratio | ceil %}

<section id="{{ section.id }}">
  <article>
    <header class="article-header">
      <h1 class="article-header__title heading--2xl">{{ article.title }}</h1>

      {% if article.excerpt != blank %}
        <div class="article-header__excerpt body">
          {{ article.excerpt }}
        </div>
      {% endif %}

      <div class="article-header__meta">
        <p class="small">{{ article.published_at | date: '%b %d, %Y' }}</p>
      </div>

      {% if article.tags.size > 0 %}
        <div class="article-header__tags">
          <p class="small">
            {% liquid
              if article.tags.size > 1
                assign display_tag = article.tags[1]
              else
                assign display_tag = article.tags[0]
              endif
            %}
            <a
              href="/pages/the-empowered-mind?tag={{ display_tag | url_encode }}#blog-collection"
              class="article-header__tag body--uppercase"
            >
              {{- display_tag -}}
            </a>
          </p>
        </div>
      {% endif %}

      {% if article.metafields.custom.blog_landscape_hero_image or article.image %}
        <div class="article-header__image">
          <img
            src="{{ article.metafields.custom.blog_landscape_hero_image | default: article.image | image_url: width: image_width }}"
            width="{{ image_width }}"
            height="{{ image_height }}"
            alt="{{ article.title | escape }}"
            loading="lazy"
          >
        </div>
      {% endif %}
    </header>
    <div class="article-content">
      {{ article.content }}
    </div>
    <div class="article-related">
      <div class="article-related__header">
        <h2 class="article-related__title heading--2xl">More From The Empowered Mind</h2>
      </div>

      <div class="article-related__posts">
        {% assign displayed_count = 0 %}
        {% for related_article in blogs['the-jackson-journal'].articles limit: 100 %}
          {% if displayed_count >= 6 %}
            {% break %}
          {% endif %}

          {% if related_article.tags.first == 'Lifestyle' and related_article.id != article.id %}
            <article class="article-related__post">
              {% if related_article.image %}
                <a href="{{ related_article.url }}" class="article-related__post-image">
                  {{
                    related_article.image
                    | image_url: width: 800
                    | image_tag: loading: 'lazy', alt: related_article.title
                  }}
                </a>
              {% endif %}

              <div class="article-related__post-content">
                {% if related_article.tags.size > 0 %}
                  <div class="article-related__post-category small">{{ related_article.tags.first }}</div>
                {% endif %}

                <h3 class="article-related__post-title heading--l">
                  <a href="{{ related_article.url }}">{{ related_article.title }}</a>
                </h3>

                <a href="{{ related_article.url }}" class="article-related__post-link-container">
                  <span class="article-related__post-link body"
                    >Read Article {% render '_icon-arrow-submit-dark' -%}
                  </span>
                </a>
              </div>
            </article>
            {% assign displayed_count = displayed_count | plus: 1 %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {%- liquid
      assign current_article = article
      assign current_blog = blog
      assign all_articles = current_blog.articles
      assign prev_article = null
      assign next_article = null
      assign current_index = -1
      for i in (0..all_articles.size)
        assign article_at_index = all_articles[i]
        if article_at_index.id == current_article.id
          assign current_index = i
          break
        endif
      endfor

      if current_index > 0
        assign next_index = current_index | minus: 1
        assign next_article = all_articles[next_index]
      endif

      assign max_index = all_articles.size | minus: 1
      if current_index < max_index
        assign prev_index = current_index | plus: 1
        assign prev_article = all_articles[prev_index]
      endif
    -%}

    <div class="article-navigation">
      <div class="article-navigation__container">
        <div class="article-navigation__previous">
          {% if prev_article %}
            <span class="article-navigation__label body--uppercase">Previous</span>
            <a
              href="{{ prev_article.url }}"
              class="article-navigation__link body--uppercase"
              title="            {{- prev_article.title -}}"
            >
              <span class="article-navigation__arrow article-navigation__arrow--prev">
                {% render '_icon-arrow-submit-dark' %}
              </span>
              <span class="article-navigation__link-text">{{ prev_article.title }}</span>
            </a>
          {% endif %}
        </div>

        <div class="article-navigation__current heading--l">
          {% render 'breadcrumb' %}
        </div>

        <div class="article-navigation__next">
          {% if next_article %}
            <span class="article-navigation__label body--uppercase">Next</span>
            <a
              href="{{ next_article.url }}"
              class="article-navigation__link body--uppercase"
              title="            {{- next_article.title -}}"
            >
              <span class="article-navigation__link-text">{{ next_article.title }}</span>
              <span class="article-navigation__arrow article-navigation__arrow--next">
                {% render '_icon-arrow-submit-dark' %}
              </span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </article>
</section>

<script
  src="{{ "section-main-article.js" | asset_url }}"
  defer
></script>

{% schema %}
{
  "name": "Article",
  "tag": "section",
  "class": "section"
}
{% endschema %}
