<style>
  .my-cart__items {
    opacity: 1;
    transition: opacity 0.2s;
  }

  /* Make the cart content look visually disabled while updating */
  html.js-ajax-cart-processing .my-cart__items {
    opacity: 0.7;
  }

  /* Show a loading indicator */
  html.js-ajax-cart-processing .my-cart__items:before {
    content: 'Loading';
    display: block;
  }
</style>

<div class="my-cart" data-ajax-cart-section>
  <h2>Cart ({{ cart.item_count }})</h2>

  <div class="my-cart__items" data-ajax-cart-section-scroll>
    <!-- Loop through cart items -->
    {% for line_item in cart.items %}
      {% assign line_item_index = forloop.index %}

      <div>
        <a href="{{ line_item.url }}">{{ line_item.title | escape }}</a>
      </div>
      <div>Price: {{ line_item.final_price | money }}</div>

      <div>
        Quantity:
        <ajax-cart-quantity>
          <!-- "Minus one" button -->
          <a
            data-ajax-cart-quantity-minus
            href="{{ routes.cart_change_url }}?line={{ line_item_index }}&quantity={{ line_item.quantity | minus: 1 }}"
          >
            Minus one
          </a>

          <!-- Item quantity input -->
          <input
            data-ajax-cart-quantity-input="{{ line_item_index }}"
            name="updates[]"
            value="{{ line_item.quantity }}"
            type="number"
            form="my-ajax-cart-form"
          >

          <!-- "Plus one" button -->
          <a
            data-ajax-cart-quantity-plus
            href="{{ routes.cart_change_url }}?line={{ line_item_index }}&quantity={{ line_item.quantity | plus: 1 }}"
          >
            Plus one
          </a>
        </ajax-cart-quantity>
      </div>

      <!-- Item error messages -->
      <div data-ajax-cart-errors="{{ line_item.key }}"></div>

      <div>
        Total: <strong>{{ line_item.final_line_price | money }}</strong>
      </div>

      <!-- "Remove item" button -->
      <a data-ajax-cart-request-button href="{{ line_item.url_to_remove }}"> Remove </a>

      <hr>
    {% endfor %}
  </div>

  {% form 'cart', cart, id: 'my-ajax-cart-form' %}
    <button type="submit" name="checkout">Checkout — {{ cart.total_price | money_with_currency }}</button>
  {% endform %}
</div>

{% schema %}
{
  "name": "Cart",
  "tag": "section",
  "class": "cart-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Spend more message"
    },
    {
      "type": "checkbox",
      "id": "enable_spend_more",
      "label": "Enable",
      "default": false
    },
    {
      "type": "number",
      "id": "spend_more_trigger",
      "label": "Trigger amount"
    },
    {
      "type": "richtext",
      "id": "spend_more_message",
      "label": "Message",
      "info": "Enter SPEND_AMT to insert balance amount.",
      "default": "<p>Spend <strong>SPEND_AMT</strong> to qualify for <strong>free delivery</strong>.</p>"
    },
    {
      "type": "header",
      "content": "Cart total"
    },
    {
      "type": "inline_richtext",
      "id": "cart_total_label",
      "label": "Cart total label",
      "default": "Estimated total"
    },
    {
      "type": "richtext",
      "id": "checkout_note",
      "label": "Checkout note",
      "default": "<p><em>Tax, shipping and discounts are calculated at checkout.</em></p>"
    },
    {
      "type": "text",
      "id": "checkout_btn_label",
      "label": "Checkout button label",
      "default": "Checkout"
    },
    {
      "type": "header",
      "content": "Gift wrap"
    },
    {
      "type": "product",
      "id": "gift_wrap_product",
      "label": "Product",
      "info": "Leave blank to turn feature off."
    }
  ]
}
{% endschema %}
