{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

<style>
  @media screen and (min-width: 1100px) {
    .product-details__container {
      max-height: calc({{product.images[0].height}} * 50vw / {{product.images[0].width}});
    }
  }
</style>

{% assign current_variant = null %}

{% for variant in product.variants %}
  {% if variant.available and variant.inventory_quantity > 5 %}
    {% assign current_variant = variant %}
    {% break %}
  {% endif %}
{% endfor %}

{% if current_variant == null %}
  {% assign current_variant = product.selected_or_first_available_variant %}
{% endif %}

<script>
  var current_variant = {{ current_variant | json }};
  var variants = {{ product.variants | json }};
  var default_image = {{ product.featured_image.id | default: 'null' }};
  var product_type = {{ product.type | json }};
  var variant_inventory_quantities = [{% for variant in product.variants %}{{ variant.inventory_quantity }}{% unless forloop.last %},{% endunless %}{% endfor %}];
  var product_title = {{ product.title | json }};
  var product_options = {{ product.options | json }};
  var show_low_stock_warning = {{ section.settings.show_low_stock_warning | json }};
  var shopify_money_format = {{ shop.money_with_currency_format | json }};
  var product_image_height = {{ product.images[0].height }};
  var product_image_width = {{ product.images[0].width }};
  var product_has_only_default_variant = {{ product.has_only_default_variant | json }};
  var product_is_gift_card = {{ product.gift_card? | json }};
</script>

<div class="buyable-product-wrapper">
  <div id="product"
       data-variants="{{ product.variants | json | escape}}";
       data-variant-inventory-quantities="[{% for variant in product.variants %}{{ variant.inventory_quantity | escape }}{% unless forloop.last %},{% endunless %}{% endfor %}]";
       data-product-title="{{ product.title | json | escape }}";
       data-show-low-stock-warning="{{ section.settings.show_low_stock_warning | json | escape }}";>
    <div class="product-top-breadcrumb-container">
      {% render 'breadcrumb' %}
    </div>
    <div class="product-images-container">
      <div class="splide product-images-splide">
        <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 1L1 6L6 11" stroke="#0F0F0F" stroke-linecap="square"/>
            </svg>
          </button>
          <button class="splide__arrow splide__arrow--next">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 6L1 11" stroke="#0F0F0F" stroke-linecap="square"/>
            </svg>
          </button>
        </div>

        <div class="splide__track">
          <ul class="splide__list">
            {% for image in product.images %}
              <li class="splide__slide" data-imageid="{{ image.id }}">
                {% if forloop.first %}
                  {{
                  image
                  | image_url: width: image.width
                  | image_tag:
                  sizes: '(max-width: 768px) 400px, 1200px',
                  alt: image.alt,
                  loading: 'eager',
                  decoding: 'async',
                  fetchpriority: 'high'
                  }}
                {% else %}
                  {{
                  image
                  | image_url: width: image.width
                  | image_tag:
                  sizes: '(max-width: 768px) 400px, 1200px',
                  alt: image.alt,
                  loading: 'lazy',
                  decoding: 'async'
                  }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="product-images-progress">
          <div class="product-images-progress__bar"></div>
        </div>
      </div>
    </div>

    <section
        class="product-details__container custom-scrollbar"
    >
      <div id="product-details">
        {% if section.settings.show_afterpay %}
          <p class="product-details__sku small">
            Buy In 4 Interest Free Payments of {{ current_variant.price | divided_by: 4 | money_with_currency }}
            {{ 'afterpay' | payment_type_svg_tag }}
          </p>
        {% elsif current_variant.sku %}
          <p class="product-details__sku small">
            Product Code:
            <span class="js--variant-sku">{{ current_variant.sku }}</span>
          </p>
        {% endif %}
        <div class="product-details__header">
          <h1 class="product-details__title heading--xl" data-title="{{ product.title }}">{{ product.title }}</h1>
          <div class="product-details__price">
            <span class="product-details__price-actual body js--variant-price">
              {{ current_variant.price | money_with_currency }}
            </span>
            <span class="product-details__compare-price body js--variant-compareatprice">
              Was {{ current_variant.compare_at_price | money_with_currency }}
            </span>
          </div>
        </div>

        <div class="product-details__info-container">
          {% if localization.market.handle == 'au' %}
            <p class="small" style="color: var(--neutral-600);">
              {{ product.metafields.custom.discount_bundle_name | metafield_tag }}
            </p>
          {% endif %}
          <button
              type="button"
              class="size-guide-button small"
          >
            What's my size?
          </button>
        </div>

        {% if product.metafields.custom.product_colour_variants %}
          {% render 'related-product-slider' %}
        {% endif %}

        <form action="{{ routes.cart_add_url }}" method="post" onsubmit="return false;" id="js--variant-form">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when '@app' -%}
                {% render block %}

              {%- when 'options' %}
                {% unless product.has_only_default_variant %}
                  {% for option_group in product.options_with_values %}
                    {% assign option_field = option_group.position | prepend: 'option' %}
                    <fieldset class="variant-options js--variant-options">
                      <legend class="body--bold">{{ option_group.name }}:</legend>
                      <div class="variant-options__list">
                        {% for value in option_group.values %}
                          {% capture option_id %}{{ option_group.name }}_{{ value }}{% endcapture %}
                          {% capture input_id %}option-{{ product.id | handleize }}-{{ option_id | handleize }}{% endcapture %}
                          <div class="variant-option">
                            <input
                                type="radio"
                                id="{{ input_id }}"
                                class="js--variant-option"
                                name="{{ option_group.position | prepend: 'option'}}"
                                value="{{ value }}"
                                {% if current_variant[option_field] == value %}
                                  checked
                                {% endif %}
                            >
                            <label for="{{ input_id }}" class="body">
                              {% if option_group.name == 'Size' and value contains '.0' %}
                                {{- value | remove: '.0' -}}
                              {% else %}
                                {{- value -}}
                              {% endif %}
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    </fieldset>
                  {% endfor %}
                  {% if product.metafields.custom.show_pants_size_for_suits %}
                    <p class="small" style="margin-bottom: var(--space-m); color: var(--neutral-600);">
                      Suit Includes Trousers Size:
                      <span class="js--pants-size">{{ current_variant.option1 | minus: 12 }}</span>
                    </p>
                  {% endif %}
                {% endunless %}

              {%- when 'button' -%}
                <input
                    type="hidden"
                    id="js--variant-id"
                    name="id"
                    value="{{ current_variant.id }}"
                >
                <input
                    type="hidden"
                    id="js--variant-inventory-quantity"
                    value="{{ current_variant.inventory_quantity }}"
                >

                {% if current_variant.available and product.gift_card? %}
                  <button
                      type="submit"
                      id="js--addtocart"
                      class="body"
                      style="height: var(--space-xl); {% if section.settings.round_cta %} border-radius: 200px; {% endif %}"
                  >
                    Add To Cart
                  </button>
                {% elsif current_variant.available and current_variant.inventory_quantity > 5 %}
                  <button
                      type="submit"
                      id="js--addtocart"
                      class="body"
                      style="height: var(--space-xl); {% if section.settings.round_cta %} border-radius: 200px; {% endif %}"
                  >
                    {% if section.settings.show_low_stock_warning
                    and current_variant.available
                    and current_variant.inventory_quantity >= 6
                    and current_variant.inventory_quantity <= 10
                    and product.gift_card? == false
                    %}
                      Low In Stock - Add To Cart
                    {% else %}
                      Add To Cart
                    {% endif %}
                  </button>
                {% else %}
                  <button
                    type="submit"
                    id="js--addtocart"
                    class="body"
                    style="height: var(--space-xl); display: none; {% if section.settings.round_cta %} border-radius: 200px; {% endif %}"
                  >
                    Add To Cart
                  </button>
                {% endif %}
                <button
                    type="button"
                    id="js--notify-me"
                    class="body"
                    style="height: var(--space-xl); width: 100%; background-color: var(--neutral-950); color: var(--white); border: none; padding: var(--space-s) var(--space-m); cursor: pointer; margin-bottom: var(--space-s); {% if current_variant.available and product.gift_card? %}display: none;{% elsif current_variant.available and current_variant.inventory_quantity > 5 %}display: none;{% else %}display: block;{% endif %} {% if section.settings.round_cta %} border-radius: 200px; {% endif %}"
                >
                  Out of Stock - Notify Me
                </button>

                <div
                    class="klaviyo-form-WMidEs"
                    style="{% if current_variant.available and product.gift_card? %}display: none;{% elsif current_variant.available and current_variant.inventory_quantity > 5 %}display: none;{% else %}display: none;{% endif %}"
                ></div>
            {%- endcase -%}
          {%- endfor -%}
        </form>

        {% assign has_description = false %}
        {% assign has_specs = false %}
        {% assign has_shipping = false %}

        {% if product.description != blank %}
          {% assign has_description = true %}
        {% endif %}

        {% if product.metafields.custom.care_guide != blank
        or product.metafields.custom.garment_fit != blank
        or product.metafields.custom.product_specifications != blank
        %}
          {% assign has_specs = true %}
        {% endif %}

        {% if section.settings.shipping_content != blank %}
          {% assign has_shipping = true %}
        {% endif %}

        {% if has_description or has_specs or has_shipping %}
          <div class="product-tabs">
            <div class="product-tabs__list">
              {% if has_description %}
                <button class="product-tabs__tab body--uppercase" data-tab="description">Product Info</button>
              {% endif %}
              {% if has_specs %}
                <button class="product-tabs__tab body--uppercase" data-tab="specs">Specifications And Care</button>
              {% endif %}
              {% if has_shipping %}
                <button class="product-tabs__tab body--uppercase" data-tab="shipping">Shipping</button>
              {% endif %}
            </div>

            {% if has_description %}
              <div class="product-tabs__content" data-content="description">
                <div class="product-tabs__description body">
                  {{ product.description }}
                  {% if product.metafields.custom.stylist_notes %}
                    <div>
                      <strong class="product-tabs__description-stylist-notes-heading body--bold">Stylist Notes</strong>
                      {{ product.metafields.custom.stylist_notes | metafield_tag }}
                    </div>
                  {% endif %}
                  {% if section.settings.show_usps %}
                    <hr
                        class="product-tabs__description-usp-hr"
                    >
                    <ul>
                      <li>
                        {% if product.price > 9900 %}
                          <strong class="body--bold product-tabs__description-usp"
                          >Complimentary standard shipping on this item.</strong
                          >
                        {% else %}
                          <strong class="body--bold product-tabs__description-usp"
                          >Complimentary standard shipping over $99.</strong
                          >
                        {% endif %}
                      </li>
                      <li>
                        <strong class="body--bold product-tabs__description-usp">30 Day Returns Policy</strong>
                      </li>
                      {% if product.metafields.custom.fabric_description %}
                        <li>
                          <strong class="body--bold product-tabs__description-usp">
                            {{- product.metafields.custom.fabric_description -}}
                          </strong>
                        </li>
                      {% endif %}
                    </ul>
                  {% endif %}
                  {% if current_variant.sku %}
                  <p class="product-details__afterpay body--bold">
                    Product Code:
                    <span class="js--variant-sku body--bold">{{ current_variant.sku }}</span>
                  </p>
                </div>
              </div>
            {% endif %}

            {% if has_specs %}
              <div class="product-tabs__content" data-content="specs">
                {% if product.metafields.custom.garment_fit != blank %}
                  <div class="product-tabs__metafield">
                    <h4 class="body--bold">Sizing Information</h4>
                    <div class="body">{{ product.metafields.custom.garment_fit | metafield_tag }}</div>
                  </div>
                {% endif %}

                {% if product.metafields.custom.product_specifications != blank %}
                  <div class="product-tabs__metafield">
                    <h4 class="body--bold">Specifications</h4>
                    <div class="body">{{ product.metafields.custom.product_specifications | metafield_tag }}</div>
                  </div>
                {% endif %}

                {% if product.metafields.custom.care_guide != blank %}
                  <div class="product-tabs__metafield">
                    <h4 class="body--bold">Fabric and Care</h4>
                    <div class="body">{{ product.metafields.custom.care_guide | metafield_tag }}</div>
                  </div>
                {% endif %}
              </div>
            {% endif %}

            {% if has_shipping %}
              <div class="product-tabs__content" data-content="shipping">
                <div class="body product-tabs__content-shipping">
                  {{ section.settings.shipping_content }}
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="product-details__fade-overlay"></div>
    </section>
  </div>
</div>

<div class="sticky-cart-bar">
  <div class="sticky-cart-bar__container">
    <div class="sticky-cart-bar__thumbnail">
      {% if product.featured_image %}
        {{ product.featured_image | image_url: width: 120 | image_tag: alt: product.title }}
      {% endif %}
    </div>

    <div class="sticky-cart-bar__product-title heading--l">
      {{ product.title }}
    </div>

    <div class="sticky-cart-bar__price-container">
      {% if current_variant.compare_at_price > current_variant.price %}
        <span class="sticky-cart-bar__compare-price body js--sticky-compare-price">
          Was {{ current_variant.compare_at_price | money_with_currency }}
        </span>
      {% endif %}
      <span class="sticky-cart-bar__price body js--sticky-price">
        {{ current_variant.price | money_with_currency }}
      </span>
    </div>

    <div class="sticky-cart-bar__mobile-info">
      <div class="sticky-cart-bar__mobile-title body">
        {{ product.title }}
      </div>
      <div class="sticky-cart-bar__mobile-price-container">
        {% if current_variant.compare_at_price > current_variant.price %}
          <span class="sticky-cart-bar__mobile-compare-price body js--sticky-mobile-compare-price">
            Was {{ current_variant.compare_at_price | money_with_currency }}
          </span>
        {% endif %}
        <span class="sticky-cart-bar__mobile-price body js--sticky-mobile-price">
          {{ current_variant.price | money_with_currency }}
        </span>
      </div>
    </div>

    <div class="sticky-cart-bar__product-info body">
      <span class="js--sticky-product-info"></span>
    </div>
  </div>
</div>

<div class="modal-overlay">
  <div class="modal-content custom-scrollbar">
    {% render 'size-guide' %}
  </div>
</div>

<script src="{{'section-main-product.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Product Page",
  "limit": 1,
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "shipping_content",
      "label": "Shipping Information",
      "default": "<p>Standard Shipping - Australia Post Network.</p><p>Free Standard shipping on all orders over $99 within Australia.</p><ul><li>Melbourne Metro – expect delivery 1-3 Business Days from Dispatch.</li><li>All other capital cities – delivery is between 3-5 Business Days from Dispatch.</li><li>Regional Australia – allow a little longer, 5-7 Business Days from Dispatch.</li></ul><p>Express shipping - $15 within Australia.</p><ul><li>Metropolitan Cities (Australia) - Guaranteed 1-2 Business Days from Dispatch.</li><li>Regional Australia – 3-4 Business Days from Dispatch. </li></ul>"
    },
    {
      "type": "checkbox",
      "id": "show_low_stock_warning",
      "label": "Show low stock warning",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_usps",
      "label": "Show USP's",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "round_cta",
      "label": "Round CTA Button Corners",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_afterpay",
      "label": "Afterpay",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "options",
      "name": "Product options",
      "limit": 1,
      "settings": []
    },
    {
      "type": "prices",
      "name": "Prices",
      "settings": []
    },
    {
      "type": "button",
      "name": "Add to cart",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Add To Cart"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}