{{ 'section-recently-viewed.css' | asset_url | stylesheet_tag }}

<div
  id="recently-viewed"
  class="recently-viewed"
>
  <div>
    <h2 class="recently-viewed__header heading--xl">{{ section.settings.heading }}</h2>
    <div id="js--recently_viewed" class="recently-viewed__grid"></div>
  </div>
</div>

<script
  src="{{ "section-recently-viewed.js" | asset_url }}"
  data-product-handle="{{ product.handle }}"
  {% if template.name == 'product' -%}
    data-template-is-product="{{ "true" }}"
  {% else %}
    data-template-is-product="{{ "false" }}"
  {% endif %}
  defer
></script>

{% schema %}
{
  "name": "Recently Viewed",
  "tag": "section",
  "limit": 1,
  "presets": [
    {
      "name": "Recently Viewed"
    }
  ],
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Recently Viewed"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
