{% comment %}
  Recommended Products Section
{% endcomment %}

{{ 'section-recommended-products.css' | asset_url | stylesheet_tag }}

<div
  class="recommended-products"
  id="section-{{ section.id }}"
  data-base-url="{{ routes.product_recommendations_url }}"
  data-product-id="{{ product.id }}"
  data-section-id="{{ section.id }}"
  data-intent="{{ section.settings.recommendation_intent | default: 'related' }}"
  style="
    {% if section.settings.show_top_border %}border-top: 1px solid var(--neutral-50);{% endif %}
    {% if section.settings.show_bottom_border %}border-bottom: 1px solid var(--neutral-50);{% endif %}
  "
>
  <div class="recommended-products__container">
    <div class="recommended-products__content">
      {% if section.settings.heading != blank %}
        <h2 class="heading--2xl recommended-products__heading {% if section.settings.heading_animation != 'none' %}{{ section.settings.heading_animation }}{% endif %}">
          {{ section.settings.heading }}
        </h2>
      {% endif %}

      {% if section.settings.description != blank %}
        <p class="body recommended-products__description {% if section.settings.description_animation != 'none' %}{{ section.settings.description_animation }}{% endif %}">
          {{ section.settings.description }}
        </p>
      {% endif %}
    </div>

    {% if recommendations.performed %}
      {% if recommendations.products_count > 0 %}
        <div class="recommended-products__slider-wrapper">
          <div class="recommended-products__slider splide">
            <div class="splide__arrows">
              <button class="splide__arrow splide__arrow--prev">{% render '_icon-arrow-see-less' %}</button>
              <button class="splide__arrow splide__arrow--next">{% render '_icon-arrow-see-more' %}</button>
            </div>
            <div class="splide__track">
              <ul class="splide__list {% if section.settings.animate_products %}animate-container-cards-scroll{% endif %}">
                {% for product in recommendations.products limit: 10 %}
                  <li class="splide__slide recommended-products__slide">
                    <a href="{{ product.url }}" class="recommended-products__product-link">
                      <div class="recommended-products__product-image-wrapper">
                        {% if product.featured_image != blank %}
                          <img
                            src="{{ product.featured_image | image_url: width: '600' }}"
                            alt="{{ product.featured_image.alt | escape }}"
                            loading="lazy"
                            width="{{ product.featured_image.width }}"
                            height="{{ product.featured_image.height }}"
                            class="recommended-products__product-image"
                            decoding="async"
                          >
                        {% else %}
                          {{ 'product-1' | placeholder_svg_tag: 'recommended-products__product-image placeholder' }}
                        {% endif %}
                      </div>

                      <h3 class="body--bold recommended-products__product-title">{{ product.title }}</h3>

                      {% if product.metafields.custom.fabric_description != blank %}
                        <p class="small recommended-products__product-material">
                          {{ product.metafields.custom.fabric_description }}
                        </p>
                      {% endif %}

                      <p class="small recommended-products__product-price">
                        {% if product.compare_at_price > product.price %}
                          <span class="recommended-products__product-price--sale">
                            {{- product.price | money_with_currency -}}
                          </span>
                          <span class="recommended-products__product-price--compare">
                            Was
                            {{ product.compare_at_price | money_with_currency -}}
                          </span>
                        {% else %}
                          {{ product.price | money_with_currency }}
                        {% endif %}
                      </p>
                    </a>
                    {% if product.metafields.custom.product_colour_variants != blank %}
                      {% assign colour_variants = product.metafields.custom.product_colour_variants.value %}
                      {% assign max_display = 3 %}
                      {% assign remaining_count = colour_variants.count | minus: max_display %}

                      <div class="product-card__swatches">
                        {% assign current_colour = product.metafields.custom.swatch_colour.value.colour | strip %}
                        {% assign bg_colour = current_colour | default: 'var(--neutral-200)' %}
                        {% assign border_style = '1px solid var(--neutral-950)' %}
                        <a
                          href="{{ product.url }}"
                          class="product-card__swatch-link"
                          aria-label="View {{ product.title }} variant"
                          style="border: {{ border_style }}; background-color: {{ bg_colour }}; padding: 2px; background-clip: content-box;"
                        >
                        </a>

                        {% for variant in colour_variants limit: max_display %}
                          {% assign variant_colour = variant.metafields.custom.swatch_colour.value.colour | strip %}
                          {% assign variant_name = variant.metafields.custom.swatch_colour.value.name | strip %}
                          {% assign bg_colour = variant_colour | default: 'var(--neutral-200)' %}
                          {% assign variant_url = variant.url %}
                          {% assign variant_title = variant.title %}

                          {% if variant_name == 'White' %}
                            {% assign border_style = '2px solid var(--neutral-200)' %}
                          {% else %}
                            {% assign border_colour = variant_colour | default: 'var(--neutral-950)' %}
                            {% assign border_style = '2px solid ' | append: border_colour %}
                          {% endif %}
                          <a
                            href="{{ variant_url }}"
                            class="product-card__swatch-link"
                            aria-label="View {{ variant_title }} variant"
                            style="border: {{ border_style }}; background-color: {{ bg_colour }};"
                          >
                          </a>
                        {% endfor %}

                        {% if remaining_count > 0 %}
                          <p class="small">+{{ remaining_count }}</p>
                        {% endif %}
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
    {% else %}
      <div class="recommended-products__slider-wrapper">
        <div class="recommended-products__loading-dots">
          <div class="recommended-products__loading-dot"></div>
          <div class="recommended-products__loading-dot"></div>
          <div class="recommended-products__loading-dot"></div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<script
  src="{{ "section-recommended-products.js" | asset_url }}"
  data-section-id="{{ section.id }}"
  defer
></script>

{% schema %}
{
  "name": "Recommended Products",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_top_border",
      "label": "Show top border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "Show bottom border",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "You May Also Like"
    },
    {
      "type": "select",
      "id": "heading_animation",
      "label": "Heading Animation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "animate-word-slide-up-scroll",
          "label": "Slide Up Words"
        },
        {
          "value": "animate-word-rotate-scroll",
          "label": "Rotate In Words"
        },
        {
          "value": "animate-paragraph-slide-up-scroll",
          "label": "Slide Up"
        }
      ],
      "default": "none"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Discover products that perfectly complement your selection."
    },
    {
      "type": "select",
      "id": "description_animation",
      "label": "Description Animation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "animate-word-slide-up-scroll",
          "label": "Slide Up Words"
        },
        {
          "value": "animate-word-rotate-scroll",
          "label": "Rotate In Words"
        },
        {
          "value": "animate-paragraph-slide-up-scroll",
          "label": "Slide Up"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "recommendation_intent",
      "label": "Recommendation Type",
      "options": [
        {
          "value": "related",
          "label": "Related Products"
        },
        {
          "value": "complementary",
          "label": "Complementary Products"
        }
      ],
      "default": "related",
      "info": "Related products are similar items, complementary products are items often bought together"
    },
    {
      "type": "header",
      "content": "Animation Settings"
    },
    {
      "type": "checkbox",
      "id": "animate_products",
      "label": "Animate Products",
      "default": false,
      "info": "Adds a staggered animation to products as they scroll into view"
    }
  ],
  "presets": [
    {
      "name": "Recommended Products",
      "category": "Product"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
