{% comment %}
  Shop The Look Global Section
{% endcomment %}

{% assign product_1 = section.settings.product1 %}
{% assign product_2 = section.settings.product2 %}
{% assign product_3 = section.settings.product3 %}

{% assign has_products = false %}
{% if product_1 != blank or product_2 != blank or product_3 != blank %}
  {% assign has_products = true %}
{% endif %}
{% assign anchor_id = section.settings.anchor_id %}
{% assign show_top_border = section.settings.show_top_border %}
{% assign show_bottom_border = section.settings.show_bottom_border %}
{% assign section_id = section.settings.show_bottom_border %}
{% assign heading = section.settings.heading %}
{% assign heading_animation = section.settings.heading_animaiton %}

{% if has_products %}
  {{ 'section-shop-the-look-global.css' | asset_url | stylesheet_tag }}
  <div
    class="shop-the-look-global"
    id="section-{{ section_id }}"
    style="
      {% if show_top_border %}border-top: 1px solid var(--neutral-50);{% endif %}
      {% if show_bottom_border %}border-bottom: 1px solid var(--neutral-50);{% endif %}
    "
  >
    <div
      class="shop-the-look-global__slider-container"
      {% if anchor_id != blank %}
        id="{{ anchor_id | downcase | replace: ' ', '-' }}-segment"
      {% endif %}
    >
      <h2 class="heading--xl shop-the-look-global__heading {% if heading_animation != 'none' %}{{ heading_animation }}{% endif %}">
        {{ heading }}
      </h2>

      {% assign product_count = 0 %}
      {% if product_1 != blank %}{% assign product_count = product_count | plus: 1 %}{% endif %}
      {% if product_2 != blank %}{% assign product_count = product_count | plus: 1 %}{% endif %}
      {% if product_3 != blank %}{% assign product_count = product_count | plus: 1 %}{% endif %}

      {% if product_count > 1 %}
        <div class="shop-the-look-global__slider-wrapper">
          <div class="shop-the-look-global__slider splide">
            <div class="splide__track">
              <ul class="splide__list">
                {% if product_1 != blank %}
                  {% assign product = all_products[product_1] %}
                  {% if product.featured_image != blank %}
                    <li class="splide__slide shop-the-look-global__slide">
                      <a href="{{ product.url }}" class="shop-the-look-global__product-link">
                        <div class="shop-the-look-global__product-image-wrapper">
                          {{
                            product.featured_image
                            | image_url: width: 400
                            | image_tag:
                              alt: product.featured_image.alt,
                              loading: 'lazy',
                              decoding: 'async',
                              class: 'shop-the-look-global__product-image',
                              widths: '200, 300, 400, 500, 600',
                              sizes: '(max-width: 768px) 100vw, 50vw'
                          }}
                        </div>

                        <h3 class="body--bold shop-the-look-global__product-title">{{ product.title }}</h3>

                        <p class="small shop-the-look-global__product-price">
                          {% if product.compare_at_price_max > product.price %}
                            <span class="shop-the-look-global__product-price--sale">
                              {{- product.price | money_with_currency -}}
                            </span>
                            <span class="shop-the-look-global__product-price--compare">
                              {{- product.compare_at_price_max | money_with_currency -}}
                            </span>
                          {% else %}
                            {{ product.price | money_with_currency }}
                          {% endif %}
                        </p>
                      </a>
                    </li>
                  {% endif %}
                {% endif %}

                {% if product_2 != blank %}
                  {% assign product = all_products[product_2] %}
                  {% if product.featured_image != blank %}
                    <li class="splide__slide shop-the-look-global__slide">
                      <a href="{{ product.url }}" class="shop-the-look-global__product-link">
                        <div class="shop-the-look-global__product-image-wrapper">
                          {{
                            product.featured_image
                            | image_url: width: 400
                            | image_tag:
                              alt: product.featured_image.alt,
                              loading: 'lazy',
                              decoding: 'async',
                              class: 'shop-the-look-global__product-image',
                              widths: '200, 300, 400, 500, 600',
                              sizes: '(max-width: 768px) 100vw, 50vw'
                          }}
                        </div>

                        <h3 class="body--bold shop-the-look-global__product-title">{{ product.title }}</h3>

                        <p class="small shop-the-look-global__product-price">
                          {% if product.compare_at_price_max > product.price %}
                            <span class="shop-the-look-global__product-price--sale">
                              {{- product.price | money_with_currency -}}
                            </span>
                            <span class="shop-the-look-global__product-price--compare">
                              {{- product.compare_at_price_max | money_with_currency -}}
                            </span>
                          {% else %}
                            {{ product.price | money_with_currency }}
                          {% endif %}
                        </p>
                      </a>
                    </li>
                  {% endif %}
                {% endif %}

                {% if product_3 != blank %}
                  {% assign product = all_products[product_3] %}
                  {% if product.featured_image != blank %}
                    <li class="splide__slide shop-the-look-global__slide">
                      <a href="{{ product.url }}" class="shop-the-look-global__product-link">
                        <div class="shop-the-look-global__product-image-wrapper">
                          {{
                            product.featured_image
                            | image_url: width: 600
                            | image_tag:
                              alt: product.featured_image.alt,
                              loading: 'lazy',
                              decoding: 'async',
                              class: 'shop-the-look-global__product-image',
                              widths: '200, 300, 400, 500, 600',
                              sizes: '(max-width: 768px) 100vw, 50vw'
                          }}
                        </div>

                        <h3 class="body--bold shop-the-look-global__product-title">{{ product.title }}</h3>

                        <p class="small shop-the-look-global__product-price">
                          {% if product.compare_at_price_max > product.price %}
                            <span class="shop-the-look-global__product-price--sale">
                              {{- product.price | money_with_currency -}}
                            </span>
                            <span class="shop-the-look-global__product-price--compare">
                              {{- product.compare_at_price_max | money_with_currency -}}
                            </span>
                          {% else %}
                            {{ product.price | money_with_currency }}
                          {% endif %}
                        </p>
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
              </ul>
            </div>
            <div class="splide__arrows">
              <button class="splide__arrow splide__arrow--prev">{% render '_icon-arrow-see-less' %}</button>
              <button class="splide__arrow splide__arrow--next">{% render '_icon-arrow-see-more' %}</button>
            </div>
          </div>
        </div>
      {% else %}
        <div class="shop-the-look-global__single-product">
          {% if product_1 != blank %}
            {% assign product = all_products[product_1] %}
          {% elsif product_2 != blank %}
            {% assign product = all_products[product_2] %}
          {% elsif product_3 != blank %}
            {% assign product = all_products[product_3] %}
          {% endif %}

          {% if product.featured_image != blank %}
            <a href="{{ product.url }}" class="shop-the-look-global__product-link">
              <div class="shop-the-look-global__product-image-wrapper">
                {{
                  product.featured_image
                  | image_url: width: 600
                  | image_tag:
                    alt: product.featured_image.alt,
                    loading: 'lazy',
                    decoding: 'async',
                    class: 'shop-the-look-global__product-image',
                    widths: '200, 300, 400, 500, 600',
                    sizes: '(max-width: 768px) 100vw, 50vw'
                }}
              </div>

              <h3 class="body--bold shop-the-look-global__product-title">{{ product.title }}</h3>

              <p class="small shop-the-look-global__product-price">
                {% if product.compare_at_price_max > product.price %}
                  <span class="shop-the-look-global__product-price--sale">
                    {{- product.price | money_with_currency -}}
                  </span>
                  <span class="shop-the-look-global__product-price--compare">
                    {{- product.compare_at_price_max | money_with_currency -}}
                  </span>
                {% else %}
                  {{ product.price | money_with_currency }}
                {% endif %}
              </p>
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>

    {% if section.settings.featured_image != blank %}
      <div class="shop-the-look-global__image-container">
        {{
          section.settings.featured_image
          | image_url: width: 720
          | image_tag: alt: section.settings.featured_image.alt
          | default: section.settings.heading,
            loading: 'lazy',
            decoding: 'async',
            class: 'shop-the-look-global__image',
            widths: '600, 800, 1024, 1200, 1440',
            sizes: '(max-width: 768px) 100vw, 50vw'
        }}
      </div>
    {% endif %}
  </div>

  {% if product_count > 1 %}
    <script
      src="{{ "section-shop-the-look-global.js" | asset_url }}"
      data-section-id="{{ section_id }}"
      defer
    ></script>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Shop the Look Global",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "anchor_id",
      "label": "Anchor ID (lowercase with hyphens)",
      "info": "Example: history or about-us"
    },
    {
      "type": "checkbox",
      "id": "show_top_border",
      "label": "Show top border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "Show bottom border",
      "default": false
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Shop the Look"
    },
    {
      "type": "select",
      "id": "heading_animation",
      "label": "Heading Animation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "animate-word-slide-up-scroll",
          "label": "Slide Up Words"
        },
        {
          "value": "animate-word-rotate-scroll",
          "label": "Rotate In Words"
        },
        {
          "value": "animate-paragraph-slide-up-scroll",
          "label": "Slide Up"
        }
      ],
      "default": "none"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Featured Image"
    },
    {
      "type": "product",
      "id": "product1",
      "label": "Product 1"
    },
    {
      "type": "product",
      "id": "product2",
      "label": "Product 2"
    },
    {
      "type": "product",
      "id": "product3",
      "label": "Product 3"
    }
  ],
  "presets": [
    {
      "name": "Shop the Look Global",
      "category": "Product"
    }
  ],
  "enabled_on": {
    "templates": ["index", "page", "article", "blog"]
  }
}
{% endschema %}
