{{ 'lib-leaflet.css' | asset_url | stylesheet_tag }}
{{ 'section-store-locator.css' | asset_url | stylesheet_tag }}
<script src="{{ 'lib-leaflet.min.js' | asset_url }}" defer></script>

{% assign heading = section.settings.heading %}
{% assign all_locations = metaobjects.locations.values %}
{% assign locations_json_str = '' %}
{% assign location_urls_array = '' %}

<div class="store-locator" id="storeLocator">
  <h1 class="heading--xl" style="padding: 0 var(--space-m);">{{ heading }}</h1>

  <div class="store-locator__filters">
    <input
      type="text"
      id="searchInput"
      class="store-locator__search"
      placeholder="Search by name, address or state"
    >
    <div id="autocomplete" class="store-locator__autocomplete" style="display: none;"></div>
    <select id="stateSelect" class="store-locator__state-select body">
      <option value="" selected>All</option>
      <option value="WA">WA</option>
      <option value="SA">SA</option>
      <option value="QLD">QLD</option>
      <option value="NSW">NSW</option>
      <option value="VIC">VIC</option>
      <option value="ACT">ACT</option>
    </select>
  </div>

  <input
    type="text"
    id="postcodeInput"
    class="store-locator__search"
    placeholder="Enter postcode to find nearest stores"
    maxlength="4"
    style="margin: 0 var(--space-m) var(--space-m);"
  >
  <div id="nearestStores" style="margin: 0 var(--space-m) var(--space-m); display: none;"></div>

  <div class="store-locator__container">
    <div class="store-locator__sidebar custom-scrollbar">
      <div id="noResults" class="location-item" style="display: none;">
        <p class="body">
          Sorry, your search for "<span id="noResultsText"></span>" returned zero results, please try another search
          term.
        </p>
      </div>
      {% paginate all_locations by 200 %}
        {% liquid
          assign all_locations = metaobjects.locations.values
          assign all_locations_json = all_locations | json
          assign locations_json_str = locations_json_str | append: all_locations_json
        %}

        {% for location in metaobjects.locations.values %}
          {% liquid
            assign current_location_url = location.location_page.value.url | split: ' '
            assign location_urls_array = location_urls_array | concat: current_location_url
          %}
          {% assign location_name = location.location_name.value %}
          {% assign location_handle = location_name | handleize %}
          {% assign location_street_address = location.street_address.value %}
          {% assign location_postcode = location.postcode.value %}
          {% assign location_state = location.location_state.value %}
          {% assign location_latitude = location.latitude.value %}
          {% assign location_longitude = location.longitude.value %}
          {% assign location_page_url = location.location_page.value.url %}
          {% assign location_opening_hours = location.opening_hours.value %}
          {% assign location_google_maps_link = location.google_maps_link.value %}
          {% assign location_email = location.email_address.value %}
          {% assign location_phone_number = location.phone_number.value %}

          <div
            class="location-item"
            data-name="{{ location_name }}"
            data-address="{{ location_street_address | default: '' }}"
            data-lat="{{ location_latitude }}"
            data-lng="{{ location_longitude }}"
            data-state="{{ location_state }}"
            data-hours="{{ location_opening_hours }}"
            data-location-url="{{ location_page_url }}"
            data-postcode="{{ location_postcode }}"
          >
            <div class="location-item__header">
              <div
                class="location-item__status-dot"
                data-location-status="{{ location_handle }}"
              ></div>
              <h3 class="location-item__title heading--xl">{{ location_name }}</h3>
            </div>

            <div class="location-item__address body">
              <a target="_blank" href="{{ location_google_maps_link }}">{{ location_street_address }}</a>
            </div>

            <div class="location-item__contact body">
              <a href="mailto:{{ location_email }}">{{ location_email }}</a> |
              <a href="tel:{{ location_phone_number }}">{{ location_phone_number }}</a>
            </div>

            <div class="location-item__hours body">
              <strong>Open Today:</strong>
              <span data-today-hours="{{ location_handle }}">
                {{- location_opening_hours -}}
              </span>
            </div>
            <div class="location-item__link body">
              <a href="{{ location_page_url }}">View Store Information</a>
            </div>
          </div>
        {% endfor %}
      {% endpaginate %}
    </div>
    <div class="store-locator__map">
      <div id="map"></div>
    </div>
  </div>
</div>

<script
  src="{{ 'section-store-locator.js' | asset_url }}"
  data-locations="{{ locations_json_str | escape }}"
  data-location-urls="{{ location_urls_array | json | escape }}"
  defer
></script>

{% schema %}
{
  "name": "Store Locator",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Store Locations"
    }
  ],
  "presets": [
    {
      "name": "Store Locator",
      "settings": {
        "heading": "Store Locations"
      }
    }
  ],
  "enabled_on": {
    "templates": ["page"]
  }
}
{% endschema %}
