{{ 'lib-leaflet.css' | asset_url | stylesheet_tag }}
{{ 'section-store-locator.css' | asset_url | stylesheet_tag }}
<script src="{{ 'lib-leaflet.min.js' | asset_url }}" defer></script>

{% assign locations_json_str = '' %}
{% assign location_urls_array = '' %}

<div class="store-locator" id="storeLocator">
  <h1 class="heading--xl" style="padding: 0 var(--space-m);">{{ section.settings.heading }}</h1>

  <div class="store-locator__filters">
    <input
      type="text"
      id="searchInput"
      class="store-locator__search"
      placeholder="Search by suburb, postcode or state"
    >
    <div id="autocomplete" class="store-locator__autocomplete custom-scrollbar" style="display: none;"></div>
    <select id="stateSelect" class="store-locator__state-select body">
      <option value="" selected>All</option>
      <option value="WA">WA</option>
      <option value="SA">SA</option>
      <option value="QLD">QLD</option>
      <option value="NSW">NSW</option>
      <option value="VIC">VIC</option>
      <option value="ACT">ACT</option>
    </select>
  </div>

  <div class="store-locator__container">
    <div class="store-locator__sidebar custom-scrollbar">
      <div class="store-locator__fixed-header">
        <div class="store-locator__fixed-filters">
          <select id="statusSelect" class="store-locator__status-select body">
            <option value="" selected>All Stores</option>
            <option value="open">Open Now</option>
            <option value="closed">Closed Now</option>
          </select>
          <select id="serviceSelect" class="store-locator__service-select body">
            <option value="" selected>All Services</option>
            <option value="made-to-measure">Made To Measure</option>
            <option value="alterations">Alterations</option>
            <option value="styling-advice">Styling Advice</option>
            <option value="weddings">Weddings</option>
            <option value="layby">Layby</option>
          </select>
        </div>
      </div>

      {% paginate metaobjects.locations.values by 200 %}
        {% liquid
          assign all_locations_json = metaobjects.locations.values | json
          assign locations_json_str = locations_json_str | append: all_locations_json
        %}

        {% for location in metaobjects.locations.values %}
          {% liquid
            assign current_location_url = location.location_page.value.url | split: ' '
            assign location_urls_array = location_urls_array | concat: current_location_url
          %}
          {% assign location_handle = location.location_name.value | handleize %}

          <div
            class="location-item"
            data-name="{{ location.location_name.value }}"
            data-address="{{ location.street_address.value | default: '' }}"
            data-lat="{{ location.latitude.value }}"
            data-lng="{{ location.longitude.value }}"
            data-state="{{ location.location_state.value }}"
            data-hours="{{ location.opening_hours.value }}"
            data-location-url="{{ location.location_page.value.url }}"
            data-postcode="{{ location.postcode.value }}"
            data-made-to-measure="{{ location.made_to_measure.value }}"
            data-alterations="{{ location.alterations.value }}"
            data-styling-advice="{{ location.styling_advice.value }}"
            data-weddings="{{ location.weddings.value }}"
            data-layby="{{ location.layby.value }}"
          >
            <div class="location-item__header">
              <div class="location-item__status-dot" data-location-status="{{ location_handle }}"></div>
              <div id="popover-{{ location_handle }}" popover class="location-item__status-popover"></div>
              <h3 class="location-item__title heading--xl">{{ location.location_name.value }}</h3>
            </div>

            <div class="location-item__address body">
              <a target="_blank" href="{{ location.google_maps_link.value }}">{{ location.street_address.value }}</a>
            </div>

            <div class="location-item__contact body">
              <a href="mailto:{{ location.email_address.value }}">{{ location.email_address.value }}</a> |
              <a href="tel:{{ location.phone_number.value }}">{{ location.phone_number.value }}</a>
            </div>

            <div class="location-item__hours body">
              <strong>Open Today:</strong>
              <span data-today-hours="{{ location_handle }}">
                {{- location.opening_hours.value -}}
              </span>
            </div>
            <div class="location-item__link body">
              <a href="{{ location.location_page.value.url }}">View Store Information</a>
            </div>
            {% if location.made_to_measure.value == true %}
              <div class="location-item__made-to-measure">
                <p>
                  <span>{% render '_icon-made-to-measure' %}</span>
                  <span class="location-item__made-to-measure-text"
                    ><a href="https://peterjacksons.com/pages/made-to-measure">Made To Measure Offered</a></span
                  >
                </p>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      {% endpaginate %}
    </div>
    <div class="store-locator__map">
      <div id="map"></div>
    </div>
  </div>
</div>

<script
  src="{{ 'section-store-locator.js' | asset_url }}"
  data-locations="{{ locations_json_str | escape }}"
  data-location-urls="{{ location_urls_array | json | escape }}"
  defer
></script>

{% schema %}
{
  "name": "Store Locator",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Store Locations"
    }
  ],
  "presets": [
    {
      "name": "Store Locator",
      "settings": {
        "heading": "Store Locations"
      }
    }
  ],
  "enabled_on": {
    "templates": ["page"]
  }
}
{% endschema %}
